<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>WATCHIGO</title>
    <link rel="stylesheet" href="css/nav/nav.css">
</head>
<body>
<nav class="menubar">
    <div></div>
    <ul>
        <li class="icon">
            <img class="iconimg" src="/img/nav/mainlogo.png">
        </li>
        <li th:class="${nowurl0 == '/servicezone' ? 'icon-active' : 'icon'}">
            <a href="/servicezone">
                <img class="iconimg" src="/img/nav/sericon.png">
            </a>
        </li>
        <li th:class="${nowurl0 == '/exhibit' ? 'icon-active' : 'icon'}">
            <a href="/exhibit">
                <img class="iconimg" src="/img/nav/exicon.png">
            </a>
        </li>
        <li th:class="${nowurl0 == '/0' ? 'icon-active' : 'icon'}">
            <a>
                <img class="iconimg" src="/img/nav/AI.png">
            </a>
        </li>
        <li th:class="${nowurl0 == '/0' ? 'icon-active' : 'icon'}">
            <a>
                <img class="iconimg" src="/img/nav/myaa.png">
            </a>
        </li>
    </ul>
</nav>
</body>
</html>