<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>
<div style="width:100%; height:101px; background-color:rgba(0, 0, 0, 0.8); display:flex; align-items:center;">
    <img src="/img/Assets/LOGO/1Asset 1@4x.png" style="width:350px; height:45px; margin-left:45px; display:inline-block;"  >
    <div style="width:100%; float: right;">
    </div>
    <div style="width:15%; float: right;">
        <span style="color:white; text-align:center;">LOGIN/SIGN UP</span>
    </div>
    <div style="width:5%; float: right;">
        <img src="/img/Assets/img_2.png" style="width:45px; height:54px;">
    </div>
</div>
</body>
</html>