<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Homepage</title>
	<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="/css/AdminSite/Homepage.css"/>
	<script id="applicationScript" type="text/javascript" src="/js/AdminSite/Homepage.js"></script>
	<script src="/js/AdminSite/main.js"></script>
	<link rel="stylesheet" href="css/AdminSite/login.css">
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="https://code.jquery.com/jquery-latest.js"></script>
</head>
<body>
<div id="Homepage">
	<img id="BG" src="/img/AdminSite/bg1.png" >
		
	<img id="Logo" src="/img/AdminSite/Logo.png" onclick="home()">
		
	<div id="Footer">
		<svg class="Rectangle_2">
			<rect id="Rectangle_2" rx="0" ry="0" x="0" y="0" width="1920" height="135">
			</rect>
		</svg>
		<svg class="Rectangle_10">
			<rect id="Rectangle_10" rx="0" ry="0" x="0" y="0" width="1920" height="276">
			</rect>
		</svg>
		<div id="Legal_Jargon">
			<div id="n______212-88-02195______2019-">
				<span>대표: 이성오   사업자등록번호 : 212-88-02195   통신판매업신고번호 : 제 2019-4950125-30-2-00095 호</span>
			</div>
			<div id="n_____10___402_">
				<span>주소 : 전라남도 나주시 우정로 10 기술혁신 바동 402호 (전남콘텐츠기업육성센터)</span>
			</div>
			<div id="n__">
				<span>주식회사 엘페</span><br/>
			</div>
			<div id="E-mail_helptourplayzone">
				<span>E-mail: help@tourplay.zone</span>
			</div>
			<div id="Copyright_2022_ELFE_All_rights">
				<span>Copyright 2022. ELFE All rights reserved.</span>
			</div>
			<div id="Text">
				<span>이용약관</span>
			</div>
			<div id="Text_">
				<span>개인정보취급방침</span>
			</div>
			<div id="n_">
				<span>위치기반서비스 이용약관</span>
			</div>
			<div id="Phone_8202-1800-1483">
				<span>Phone: (+82)02-1800-1483</span>
			</div>
			<div id="Group_2">
				<svg class="Ellipse_1">
					<ellipse id="Ellipse_1" rx="21.5" ry="21.5" cx="21.5" cy="21.5">
					</ellipse>
				</svg>
				<img id="Mask_Group_8" src="/img/AdminSite/mask1.png">
					
				</svg>
			</div>
			<div id="Group_1">
				<svg class="Ellipse_2">
					<ellipse id="Ellipse_2" rx="21.5" ry="21.5" cx="21.5" cy="21.5">
					</ellipse>
				</svg>
				<img id="Mask_Group_9" src="/img/AdminSite/mask2.png">
					
				</svg>
			</div>
		</div>
	</div>
	<div onclick="Intro()" id="Intro_ba">
		<img id="Mask_Group_11" src="/img/AdminSite/h1.png">
			
		</svg>
		<div id="Text_bc">
			<span>회사소개</span>
		</div>
	</div>
	<div onclick="WATCHIGO()" id="Watchigo">
		<img id="Mask_Group_10" src="/img/AdminSite/h2.png">
			
		</svg>
		<div id="WATCHGO">
			<span>WATCHIGO?</span>
		</div>
	</div>
	<div onclick="Process()" id="Process_bg">
		<img id="Mask_Group_3" src="/img/AdminSite/h3.png">
			
		</svg>
		<div id="Text_bi">
			<span>이용방법</span>
		</div>
	</div>
	<div onclick="AR_Factory()" id="AR_Factory_bj">
		<img id="Mask_Group_12" src="/img/AdminSite/h4.png">
			
		</svg>
		<div id="AR_FACTORY">
			<span>AR FACTORY</span>
		</div>
	</div>
	<div onclick="Partners()" id="Partners_bm">
		<img id="Mask_Group_5" src="/img/AdminSite/h5.png">
			
		</svg>
		<div id="Text_bo">
			<span>고객사</span>
		</div>
	</div>
	<div id="Sub">
		<svg class="Rectangle_14">
			<rect id="Rectangle_14" rx="24" ry="24" x="0" y="0" width="660" height="48">
			</rect>
		</svg>
		<div id="n______">
			<span>인공지능과 증강현실을 이용한 실감형 관광 콘텐츠 솔루션</span>
		</div>
	</div>
	<div onclick="Ask()" id="Ask_bs">
		<img id="Mask_Group_6" src="/img/AdminSite/h6.png">
			
		</svg>
		<div id="Text_bu">
			<span>문의하기</span>
		</div>
	</div>
	<div onclick="Customer_Service()" id="Customer_Service_bv">
		<img id="Mask_Group_7" src="/img/AdminSite/h7.png">
			
		</svg>
		<div id="Text_bx">
			<span>고객센터</span>
		</div>
	</div>
	<div id="Register" class="Register" onclick="Register()">
		<svg class="Rectangle_11">
			<rect id="Rectangle_11" rx="25.5" ry="25.5" x="0" y="0" width="123" height="51">
			</rect>
		</svg>
		<div id="Text_b">
			<span>회원가입</span>
		</div>
	</div>
	<div id="Login" class="Login" onclick="log()">
		<svg class="Rectangle_11_b">
			<rect id="Rectangle_11_b" rx="25.5" ry="25.5" x="0" y="0" width="123" height="51">
			</rect>
		</svg>
		<div id="Text_ca">
			<span>로그인</span>
		</div>
	</div>
</div>
<div class="loginbox" id="loginbox">
	<h4 style="color:#FFFFFF; padding-left:20px; margin-top:20px; margin-bottom:15px;">LOGIN</h4>
	<span class="id" >ID</span>
	<div class="inbox">
		<input class="inid" id="inid" type="text">
	</div>
	<span class="pw" >PASSWORD</span>
	<div class="inbox">
		<input class="inid" id="inpw" type="password">
	</div>
	<span onclick="home8()" class="re" style="color:#FFFFFF; padding-left:20px;">REGISTER</span>
	<button onclick="login()" class="loginbtn" id="loginbtn">LOGIN</button><br>
	<span hidden id="ppp">0</span>
</div>
</body>
</html>