<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>WATCHIGO</title>

    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/main/main.css">
    <link rel="stylesheet" href="css/AIvideo/main.css">
    <link rel="stylesheet" href="css/nav/nav.css">
    <link rel="stylesheet" href="css/servicezone/main.css">
</head>
<body>
<div th:insert="common/navbar.html">
</div>

<script src="https://code.jquery.com/jquery-latest.js"></script>
</body>
</html>