<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>WATCHIGO</title>

    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/main/main.css">
    <link rel="stylesheet" href="css/AIvideo/main.css">
    <link rel="stylesheet" href="css/nav/nav.css">
    <link rel="stylesheet" href="css/servicezone/main.css">
</head>
<body>
<div th:insert="common/navbar.html">
</div>
<div class="mainbox">
    <div class="aibox">
        <span class="maintx">
            AI 영상탐지 LIST ──────────────────────────────────────────────────────────────────────
        </span>
        <div class="invideobtn" href="/aivideo/write">
            등록
        </div>
    </div>
    <div class="videobox">
        <div class="bigvideo">
            <div class="videoview">
                <img class="imgview" src="/img/AIvideo/img.png">
            </div>
            <div class="textview">
                <div class="mt">
                    샹들리에
                </div>
                <div class="st">
                    샹들리에
                </div>
                <div class="bt">
                    <div class="btn">
                        <img src="/img/AIvideo/12.png">
                    </div>
                    <div class="btn">
                        <img src="/img/AIvideo/13.png">
                    </div>
                    <div class="btn">
                        <img src="/img/AIvideo/del.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="bigvideo">
            <div class="videoview">
                <img class="imgview" src="/img/AIvideo/img.png">
            </div>
            <div class="textview">
                <div class="mt">
                    샹들리에
                </div>
                <div class="st">
                    샹들리에
                </div>
                <div class="bt">
                    <div class="btn">
                        <img src="/img/AIvideo/12.png">
                    </div>
                    <div class="btn">
                        <img src="/img/AIvideo/13.png">
                    </div>
                    <div class="btn">
                        <img src="/img/AIvideo/del.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="bigvideo">
            <div class="videoview">
                <img class="imgview" src="/img/AIvideo/img.png">
            </div>
            <div class="textview">
                <div class="mt">
                    샹들리에
                </div>
                <div class="st">
                    샹들리에
                </div>
                <div class="bt">
                    <div class="btn">
                        <img src="/img/AIvideo/12.png">
                    </div>
                    <div class="btn">
                        <img src="/img/AIvideo/13.png">
                    </div>
                    <div class="btn">
                        <img src="/img/AIvideo/del.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="bigvideo">
            <div class="videoview">
                <img class="imgview" src="/img/AIvideo/img.png">
            </div>
            <div class="textview">
                <div class="mt">
                    샹들리에
                </div>
                <div class="st">
                    샹들리에
                </div>
                <div class="bt">
                    <div class="btn">
                        <img src="/img/AIvideo/12.png">
                    </div>
                    <div class="btn">
                        <img src="/img/AIvideo/13.png">
                    </div>
                    <div class="btn">
                        <img src="/img/AIvideo/del.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="bigvideo">
            <div class="videoview">
                <img class="imgview" src="/img/AIvideo/img.png">
            </div>
            <div class="textview">
                <div class="mt">
                    샹들리에
                </div>
                <div class="st">
                    샹들리에
                </div>
                <div class="bt">
                    <div class="btn">
                        <img src="/img/AIvideo/12.png">
                    </div>
                    <div class="btn">
                        <img src="/img/AIvideo/13.png">
                    </div>
                    <div class="btn">
                        <img src="/img/AIvideo/del.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="bigvideo">
            <div class="videoview">
                <img class="imgview" src="/img/AIvideo/img.png">
            </div>
            <div class="textview">
                <div class="mt">
                    샹들리에
                </div>
                <div class="st">
                    샹들리에
                </div>
                <div class="bt">
                    <div class="btn">
                        <img src="/img/AIvideo/12.png">
                    </div>
                    <div class="btn">
                        <img src="/img/AIvideo/13.png">
                    </div>
                    <div class="btn">
                        <img src="/img/AIvideo/del.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-latest.js"></script>
<!-- swal창 띄우기 -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
</html>
