<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>WATCHIGO</title>

    <link rel="stylesheet" href="../../../plugins/fontawesome-free/css/all.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/main/main.css">
    <link rel="stylesheet" href="../css/AIvideo/main.css">
    <link rel="stylesheet" href="../css/nav/nav.css">
    <link rel="stylesheet" href="../css/servicezone/main.css">
</head>
<body>
<div th:insert="common/navbar.html">
</div>
<div class="mainbox">
    <div class="aibox">
        <span class="maintx">
            AI 영상탐지 LIST ──────────────────────────────────────────────────────────────────────
        </span>
        <a class="invideobtn" href="/aivideo/write" style="text-decoration: none;">
            등록
        </a>
    </div>
    <div class="videobox">

        <div class="bigvideo" th:each="Co : ${userlist}">
            <div class="videoview">
                <img class="imgview" th:src="'/file_dir/img/showImgs/'+${#strings.substring(Co.alvvideo,0,36)}+'1.jpg'">
            </div>
            <div class="textview">
                <div class="mt">
                    <p th:text="${Co.alvclass}">분류</p>
                </div>
                <div class="st">
                    <h3 th:text="${Co.alvname}">시설물 이름</h3>
                    <span th:if="${Co.alvstate==0}">라벨링 준비완료</span>
                    <span th:if="${Co.alvstate==1}">라벨링 진행중</span>
                    <span th:if="${Co.alvstate==2}">ai학습 진행중</span>
                    <span th:if="${Co.alvstate==3}">ai학습 완료</span>
                    <span th:if="${Co.alvstate==4}">중간오류-라벨링 준비</span>
                    <span th:if="${Co.alvstate==5}">라벨링 준비중</span>
                    <span th:text="${Co.alvdatetime}">작성날짜</span>
                </div>
                <div class="bt">
                    <div class="btn">
                        <img src="/img/AIvideo/12.png" th:onclick="aivideo_detail([[${Co.alvseq}]],[[${Co.alvstate}]])">
                    </div>
<!--                    <div class="btn" style="display:none">-->
<!--                        <img src="/img/AIvideo/13.png" th:onclick="aivideo_change([[${Co.alvseq}]],[[${Co.alvstate}]])">-->
<!--                    </div>-->
                    <div class="btn">
                        <img src="/img/AIvideo/del.png" th:onclick="aivideo_delete([[${Co.alvseq}]],[[${Co.alvstate}]])">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="/js/ai/videoLabeling.js"></script>
<script src="https://code.jquery.com/jquery-latest.js"></script>
<!-- swal창 띄우기 -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
</html>
