<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>WATCHIGO</title>

    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/main/main.css">

</head>
<body>
<div th:insert="common/navbar.html">
</div>
    <button class="mygps radius_border" onclick="currentLocation()">
        <i class="material-icons">&#xe55c;</i>
    </button>
    <div class="map_wrap">
        <div id="map" style="width:100%;height:98%;position:relative;overflow:hidden;">
        </div>
        <div id="menu_wrap" class="bg_white">
            <div class="option">
                <div>
                    <input type="text" placeholder="아파트, 지역 및 학교명으로 검색 " value="" id="keyword" size="15" onkeyup="if(window.event.keyCode==13){sss()}">
                    <button onclick="sss()">검색하기</button>
                </div>
            </div>
            <h1>전시/시설물 리스트</h1>
            <div id="intable">
                <div class="option">
                    <div>
                        <select class="form-control form-control-sm"
                                name="selectKey" id="selectKey">
                            <option selected="selected">전체</option>
                            <!--                        <option value="번호">번호</option>-->
                            <option value="이름">이름</option>
                            <option value="상태">상태</option>
                            <option value="주소">주소</option>
                        </select>

                        <input id="titleText" type="text" placeholder="검색 " value="" onkeyup="enterkey1()">
                        <button type="submit" onclick="searching1()">검색하기</button>
                    </div>
                </div>
                <table class="table1" >
                    <thead>
                    <tr class="table1">
                        <td>번호</td>
                        <td>서비스존 이름</td>
                        <td>분류</td>
                        <td>전시/시설물 이름</td>
                        <td>위치보기</td>
                        <td>내용</td>
                    </tr>
                    <tr class="table1" th:if="${userlist}!=null" th:each="Co : ${userlist}">
                        <td>
                            <span th:if="${Co.seq}!= null"
                                  th:text="${Co.seq}"
                                  th:value="${Co.seq}">
                            </span>
                        </td>
                        <td>
                            <span th:if="${Co.zonename}!= null"
                                  th:text="${Co.zonename}"
                                  th:value="${Co.zonename}">
                            </span>
                        </td>
                        <td>
                            <span th:if="${Co.type}!= null"
                                  th:text="${Co.type}"
                                  th:value="${Co.type}">
                            </span>
                        </td>
                        <td>
                            <span th:if="${Co.name}!= null"
                                  th:text="${Co.name}"
                                  th:value="${Co.name}">
                            </span>
                        </td>
                        <td>
                            <span class="text111" th:text="보기"
                                  th:onclick="|javascript:selectexhibit(${Co.seq})|">
                            </span>
                        </td>
                        <td>
                            <span class="text111" th:text="보기"
                                  th:onclick="|javascript:selectexhibitview(${Co.seq})|">
                            </span>
                        </td>
                    </tr>
                    </thead>
                </table>
                <div style="margin:auto; margin-top:20px; width:90px;">
                    <button onclick="inser()">전시/시설물 등록</button>
                </div>
            </div>
            <div id="uptable" style="display:none;">
                <img onclick="backbtn()" class="backbtn" src="/img/back.png">
                <div>
                    <div class="ser1">
                        <span style="font-size:25px;">1. 서비스존 선택</span>

                        <table class="table1" >
                            <thead>
                            <tr class="table1">
                                <td>번호</td>
                                <td>서비스 지역</td>
                                <td>서비스존 이름</td>
                                <td>선택</td>
                            </tr>
                            <tr class="table1" th:if="${userlist1}!=null" th:each="Co : ${userlist1}">
                                <td>
                                    <span th:if="${Co.pk}!= null"
                                          th:text="${Co.pk}"
                                          th:value="${Co.pk}">
                                    </span>
                                </td>
                                <td>
                                    <span th:if="${Co.address}!= null"
                                          th:text="${Co.address}"
                                          th:value="${Co.address}">
                                    </span>
                                </td>
                                <td>
                                    <span th:if="${Co.zonename}!= null"
                                          th:text="${Co.zonename}"
                                          th:value="${Co.zonename}">
                                    </span>
                                </td>
                                <td>
                                    <label class="test_obj">
                                        <input type="checkbox" class="choicebtn" style="background-color:red;"
                                               th:onclick="|javascript:selectexzone(${Co.pk})|" th:value = ${Co.pk}>
                                        <span>선택</span>
                                    </label>
                                </td>
                            </tr>
                            </thead>
                        </table>
                        <h4 onclick="view()">더보기</h4>
                        <div>
                            <span style="font-size:25px; margin-bottom:20px;">2. 전시/시설물 분류</span>
                            <div>
                                <select id="lock" onchange="lock()">
                                    <option selected="selected">전체</option>
                                    <!--                        <option value="번호">번호</option>-->
                                    <option value="시설물">시설물</option>
                                    <option value="전시물">전시물</option>
                                    <option value="기타">기타</option>
                                </select>
                                <input style="background-color:#8C8C8C;" id="tt11" type="text" placeholder="" readonly>
                            </div>
                        </div>
                        <div>
                            <span style="font-size:25px; margin-bottom:20px;">3. 전시/시설물 이름</span>
                            <input id="exhibitname" class="inte" type="text" placeholder="전시/시설물 이름">
                        </div>
                        <div>
                            <span style="font-size:25px; margin-bottom:20px;">4. 전시/시설물 설명</span>
                            <textarea id="exhibitex" class="inte1" type="text" placeholder="전시/시설물 설명"></textarea>
                        </div>
                        <div>
                            <span style="font-size:25px; margin-bottom:20px;">5. 동영상 업로드</span>
                            <br>
                            <span style="font-size:17px; margin-bottom:20px;">&nbsp;&nbsp;- 동영상은 최대 2개까지 등록 가능합니다.</span>
                            <div class="vbox">
                                <div id="uploadvideo1" class="uploadvideo">
                                    <input id="realUploadvideo1"  type="file" class="vedioupload" accept="video/*" required multiple style="display:none;">
                                    <div style="width:150px; height:150px; position:absolute;" onclick="video1()">
                                        <video id="inv1" class="inv1" src="/img/plus.mp4"></video>
                                    </div>
                                    <div class="delete" id="delete1">
                                        <button id="delbtn1" onclick="delete1()" class="delbtn">삭제</button>
                                    </div>
                                </div>
                                <div id="uploadvideo2" class="uploadvideo">
                                    <input id="realUploadvideo2"  type="file" class="vedioupload" accept="video/*" required multiple style="display:none;">
                                    <div style="width:150px; height:150px; position:absolute;" onclick="video2()">
                                        <video id="inv2" class="inv1" src="/img/plus.mp4"></video>
                                    </div>
                                    <div class="delete" id="delete2">
                                        <button id="delbtn2" onclick="delete2()" class="delbtn">삭제</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="margin:auto;">
                            <span style="font-size:25px; margin-bottom:20px;">6. 이미지 업로드</span>
                            <br>
                            <span style="font-size:17px; margin-bottom:20px;">&nbsp;&nbsp;- 이미지는 최대 6장까지 등록 가능합니다.</span>
                            <div class="ibox">
                                <div id="uploadimg1" class="uploadimg">
                                    <input id="upimg1" class="upimg" type="file" required style="display:none;" accept="image/*">
                                    <div style="width:150px; height:150px; position:absolute;" onclick="img1()">
                                        <img class="img" id="img1" src="img/plus.png">
                                    </div>
                                    <div class="delete"  id="delete3">
                                        <button id="delbtn3" onclick="delete3()" class="delbtn">삭제</button>
                                    </div>
                                </div>
                                <div id="uploadimg2" class="uploadimg">
                                    <input id="upimg2" class="upimg" type="file" required style="display:none;" accept="image/*">
                                    <div style="width:150px; height:150px; position:absolute;" onclick="img2()">
                                        <img class="img" id="img2" src="img/plus.png">
                                    </div>
                                    <div class="delete" id="delete4">
                                        <button id="delbtn4"  onclick="delete4()" class="delbtn">삭제</button>
                                    </div>
                                </div>
                                <div id="uploadimg3" class="uploadimg">
                                    <input id="upimg3" class="upimg" type="file" required style="display:none;" accept="image/*">
                                    <div style="width:150px; height:150px; position:absolute;" onclick="img3()">
                                        <img class="img" id="img3" src="img/plus.png">
                                    </div>
                                    <div class="delete" id="delete5">
                                        <button id="delbtn5"  onclick="delete5()" class="delbtn">삭제</button>
                                    </div>
                                </div>
                                <div id="uploadimg4" class="uploadimg">
                                    <input id="upimg4" class="upimg" type="file" required style="display:none;" accept="image/*">
                                    <div style="width:150px; height:150px; position:absolute;" onclick="img4()">
                                        <img class="img" id="img4" src="img/plus.png">
                                    </div>
                                    <div class="delete" id="delete6">
                                        <button id="delbtn6"  onclick="delete6()" class="delbtn">삭제</button>
                                    </div>
                                </div>
                                <div id="uploadimg5" class="uploadimg">
                                    <input id="upimg5" class="upimg" type="file" required style="display:none;" accept="image/*">
                                    <div style="width:150px; height:150px; position:absolute;" onclick="img5()">
                                        <img class="img" id="img5" src="img/plus.png">
                                    </div>
                                    <div class="delete" id="delete7">
                                        <button id="delbtn7"  onclick="delete7()" class="delbtn">삭제</button>
                                    </div>
                                </div>
                                <div id="uploadimg6" class="uploadimg">
                                    <input id="upimg6" class="upimg" type="file" required style="display:none;" accept="image/*">
                                    <div style="width:150px; height:150px; position:absolute;" onclick="img6()">
                                        <img class="img" id="img6" src="img/plus.png">
                                    </div>
                                    <div class="delete" id="delete8">
                                        <button id="delbtn8"  onclick="delete8()" class="delbtn">삭제</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div style="margin-top:10px; height:130px;">
                            <span style="font-size:25px; margin-bottom:20px;">7. 대표 아이콘 선택</span><br>
                            <span style="font-size:17px; margin-bottom:20px;">&nbsp;&nbsp;-지도에 표시되는 아이콘 선택</span><br>
                            <a class="base" onclick="up()">&nbsp;&nbsp;아이콘 선택 버튼</a>
                            <div class="chmarker">
                                선택한 아이콘 <br>이미지
                            </div>
                        </div>
                        <div style="margin-top:10px; height:130px;">
                            <span style="font-size:25px; margin-bottom:20px; ">8. AR 마커 선택</span><br>
                            <span style="font-size:17px; margin-bottom:20px;">&nbsp;&nbsp;-어플을 통해 AR로 표시되는 마커 이미지 선택</span><br>
                            <a class="base" onclick="up1()">&nbsp;&nbsp;AR 마커 선택 버튼</a>
                            <div class="chmarker">
                                선택한 AR 마커 <br>이미지
                            </div>
                        </div>
                        <div style="margin-top:10px;">
                            <span style="font-size:25px; margin-bottom:20px;">9. 정보 표시 방식 선택</span><br>
                            <div id="exprinttype" onchange="test1()">
                                <input id="gps" type="radio" class="printtype" name="printtype" value="0" checked>
                                <label for="gps">GPS방식</label>
                                <input id="ved" type="radio" class="printtype" name="printtype" value="1">
                                <label for="ved">영상인식 방식</label>
                            </div>
                            <div id="gpsbox" style="display:block;">
                                ※ 서비스존 안에서 등록하는 전시/시설물의 위치를 지정해주세요.

                                <div>
                                    위도&nbsp;:&nbsp;<input id="ypoint" type="text" readonly>
                                </div>
                                <div>
                                    경도&nbsp;:&nbsp;<input id="xpoint" type="text" readonly>
                                </div>
                            </div>
                            <div id="vedbox" style="display:none;">
                                ※ 전시 시설물을 카메라 전체에 담기는 거리에서 360도에서 2분간 촬영하여 업로드

                                <div id="uploadvideo3" class="uploadvideo">
                                    <input id="realUploadvideo3"  type="file" class="vedioupload" accept="video/*" required multiple style="display:none;">
                                    <div style="width:150px; height:150px; position:absolute;" onclick="video3()">
                                        <video id="inv3" class="inv1" src="/img/plus.mp4"></video>
                                    </div>
                                    <div class="delete" id="delete9">
                                        <button id="delbtn9" onclick="delete9()" class="delbtn">삭제</button>
                                    </div>
                                </div>
                                <div style="width:80%; margin:auto;">
                                    <button class="upbtn" onclick="">영상탐지 진행보기</button>
                                </div>
                            </div>
                        </div>
                        <div style="width:80%; margin:auto;">
                            <button class="upbtn" onclick="saveexhibit()">저장하기</button>
                        </div>
                        <div style="width:80%; margin:auto;">
                            <button class="upbtn">삭제</button>
                        </div>
                    </div>
                    <p class="edit" style="display:none;">
                        <button id="undo" class="disabled" onclick="undo()" disabled>UNDO</button>
                        <button id="redo" class="disabled" onclick="redo()" disabled>REDO</button>
                    </p>
                </div>
            </div>
        </div>
        <div class="custom_zoomcontrol radius_border">
            <span onclick="zoomIn()"><img src="https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/ico_plus.png" alt="확대"></span>
            <span onclick="zoomOut()"><img src="https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/ico_minus.png" alt="축소"></span>
        </div>
        <div id="menu_wrap1" class="bg_white1">
            <img onclick="backbtn1()" class="backbtn" src="/img/back.png">
            <div>
                <span id="pknum" hidden></span>
                <span id="zonenameview"></span>
                <br>
                <span id="exview"></span>

            </div>
            <button id="deletezone" onclick="deletezone()">서비스존 삭제</button>
        </div>
    </div>
<div id="load"> <img src="/img/spinner.gif" alt="loading"></div>

<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="pop_bt" style="font-size: 13pt;" onClick="close_pop();">X</span>
        <p style="text-align: center;"><span style="font-size: 14pt;"><b><span style="font-size: 35pt;">아이콘 선택</span></b></span></p>
        <div style="margin-bottom:30px;">
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
        </div>
        <p><br /></p>
    </div>
</div>
<div id="myModal1" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="pop_bt" style="font-size: 13pt;" onClick="close_pop1();">X</span>
        <p style="text-align: center;"><span style="font-size: 14pt;"><b><span style="font-size: 35pt;">AR 마커 선택</span></b></span></p>
        <div style="margin-bottom:30px;">
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
        </div>
        <p><br /></p>
    </div>
</div>
<div id="myModal2" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="pop_bt" style="font-size: 13pt;" onClick="close_pop2();">X</span>
        <p style="text-align: center;"><span style="font-size: 14pt;"><b><span style="font-size: 35pt;">커스텀 마커</span></b></span></p>
        <div style="margin-bottom:30px;">
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
        </div>
        <p><br /></p>
    </div>
</div>
<div id="myModal3" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="pop_bt" style="font-size: 13pt;" onClick="close_pop3();">X</span>
        <p style="text-align: center;"><span style="font-size: 14pt;"><b><span style="font-size: 35pt;">서비스존 리스트</span></b></span></p>
        <div id="see">
            <select class="form-control form-control-sm"
                    name="selectKey" id="selectKey1">
                <option selected="selected">전체</option>
                <!--                        <option value="번호">번호</option>-->
                <option value="이름">이름</option>
                <option value="상태">상태</option>
                <option value="주소">주소</option>
            </select>

            <input id="titleText1" type="text" placeholder="검색 " value="" onkeyup="enterkey1()">
            <button type="submit" onclick="searching1()">검색하기</button>
            <div style="margin-bottom:30px;">
                <table class="table1" >
                    <thead>
                    <tr class="table1">
                        <td>번호</td>
                        <td>서비스 지역</td>
                        <td>서비스존 이름</td>
                        <td>선택</td>
                    </tr>
                    <tr class="table1" th:if="${userlist1}!=null" th:each="Co : ${userlist1}">
                        <td>
                                    <span th:if="${Co.pk}!= null"
                                          th:text="${Co.pk}"
                                          th:value="${Co.pk}">
                                    </span>
                        </td>
                        <td>
                                    <span th:if="${Co.address}!= null"
                                          th:text="${Co.address}"
                                          th:value="${Co.address}">
                                    </span>
                        </td>
                        <td>
                                    <span th:if="${Co.zonename}!= null"
                                          th:text="${Co.zonename}"
                                          th:value="${Co.zonename}">
                                    </span>
                        </td>
                        <td>
                            <label class="test_obj">
                                <input type="checkbox" class="choicebtn" style="background-color:red;"
                                       th:onclick="|javascript:selectexzone(${Co.pk})|">
                                <span>선택</span>
                            </label>
                        </td>
                    </tr>
                    </thead>
                </table>
                <div class="card-footer clearfix">
                    <ul class="pagination pagination-sm m-0 justify-content-center" id="pageList">


                        <li class="page-item">
                            <a class="page-link" aria-label="Previous"
                               th:onclick="|javascript:paging(0)|"><span>처음</span></a>
                        </li>

                        <li class="page-item prev-page" th:if="${isPrevSection}"

                            th:value="${thisSection}">
                            <a class="page-link" aria-label="Previous"
                               th:onclick="|javascript:paging(${firstBtnIndex}-1)|">이전</a>
                        </li>

                        <!--            <li th:each="page: ${#numbers.sequence(0,9)}" th:id="pageItem+${page}" class="page-item" th:classappend="${thisPage} ==  ${page} ?  'active'"><a class="page-link" th:href="@{/testDB(page=${page})}"><span th:text="${page+1}"></span></a></li>-->

                        <!--            onclick 구현-->
                        <li th:each="page: ${#numbers.sequence(firstBtnIndex,lastBtnIndex)}"
                            id="pageItem" class="page-item"
                            th:classappend="${thisPage} ==  ${page} ?  'active'" th:value="${page}"><a
                                class="page-link" th:onclick="|javascript:paging(${page})|"><span
                                th:text="${page+1}"></span></a></li>
                        <!--            onclick 구현-->


                        <!--다음버튼2-->
                        <li class="page-item next-page" th:if="${isNextSection}"
                            th:onclick="|javascript:paging(${lastBtnIndex}+1)|"
                            th:value="${thisSection}">
                            <a class="page-link" aria-label="Next">
                                <span aria-hidden="true">다음</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                        <!--다음버튼2-->


                        <li class="page-item">
                            <a class="page-link" id="pageItem2"
                               th:onclick="|javascript:paging(${totalPage})|"
                               aria-label="Previous">끝</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <p><br /></p>
    </div>
</div>

<!--모달-->
<script type="text/javascript">
function view() {
        $('#myModal3').show();
};
//팝업 Close 기능
function close_pop3(flag) {
     $('#myModal3').hide();
};

function up() {
        $('#myModal').show();
};
//팝업 Close 기능
function close_pop(flag) {
     $('#myModal').hide();
};

function up1() {
        $('#myModal1').show();
};
//팝업 Close 기능
function close_pop1(flag) {
     $('#myModal1').hide();
};

function up2() {
        $('#myModal2').show();
};
//팝업 Close 기능
function close_pop2(flag) {
     $('#myModal2').hide();
};

</script>
<!--로컬-->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=02733eb431496d9133c0f58496aa64fb&libraries=services,clusterer,drawing"></script>
<!--서버-->
<!--<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=00cb19549df691541ac9bf9f0256e498&libraries=services,clusterer,drawing"></script>-->
<script src="https://code.jquery.com/jquery-latest.js"></script>
<!--주소 검색 및 내위치-->
<!--영역 그리기-->
<script src="/js/map/map.js"></script>
<!-- 비디오 및 이미지 업로드 -->
<script src="/js/file/file.js"></script>
<script src="/js/marker/marker.js"></script>
<script src="/js/main/sev.js"></script>
<script src="/js/main/servicezonelist.js"></script>
<script src="/js/exhibit/main.js"></script>

<!--자동실행함수 서비스존 위치마커 표시 -->
<script type="text/javascript">
$(".choicebtn").change(function() {
    $(".choicebtn").not(this).prop('checked', false);
    zonepk = this.value;
});

// 마커 클러스터러를 생성합니다
var clusterer = new kakao.maps.MarkerClusterer({
    map: map, // 마커들을 클러스터로 관리하고 표시할 지도 객체
    averageCenter: true, // 클러스터에 포함된 마커들의 평균 위치를 클러스터 마커 위치로 설정
    minLevel: 7 // 클러스터 할 최소 지도 레벨
});

var markers = [];

window.onload=function(){
// 마커를 담을 배열입니다
$.ajax({
        url  : "/exhibitview",
        type : "POST",
        success : function(result) {
        console.log("성공");
        console.log(result);
        const keys = Object.keys(result);
        for(let i=0; i<Object.keys(result).length; i++){
                let key = keys[i]
                let value = result[key]
                let [point1,point2] = value.split(",");

                var marker = new kakao.maps.Marker({
                    position: new kakao.maps.LatLng(point1, point2), // 마커의 좌표
                    map: map // 마커를 표시할 지도 객체
                });
                markers.push(marker);
        }
        clusterer.addMarkers(markers);
        },error:function(request,status,error){

        }
    })
}
</script>

<!-- swal창 띄우기 -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
</html>
