<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>WATCHIGO</title>

    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/main/main.css">
    <link rel="stylesheet" href="css/nav/nav.css">
    <link rel="stylesheet" href="css/servicezone/main.css">
</head>
<body>
<div th:insert="common/navbar.html"></div>
    <div class="map_wrap">
        <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>
        <div id="menu_wrap" class="bg_white">
            <div class="option">
                <div>
                    <input class="srad" type="text" placeholder="아파트, 지역 및 학교명으로 검색 " value="" id="keyword" size="15" onkeyup="if(window.event.keyCode==13){sss()}">
                </div>

            <h1 class="t1">SERVICE ZONE LIST ────────────</h1>
            <div id="intable">
                <div class="option">
                    <div style="margin-bottom:20px;">
                        <select class="selserzone"
                                name="selectKey" id="selectKey">
                            <option selected="selected">전체</option>
                            <!--                        <option value="번호">번호</option>-->
                            <option value="이름">이름</option>
                            <option value="상태">상태</option>
                            <option value="주소">주소</option>
                        </select>

                        <input class="selserzonetxt" id="titleText" type="text" placeholder="검색어를 입력해주세요 " value="" onkeyup="enterkey()">
                    </div>
                </div>
                <div class="viewzonebox1">
                    <div class="zoneviewbox" th:if="${userlist}!=null" th:each="Co : ${userlist}">
                        <div class="realbox">
                            <img class="zonemainimg" th:src="'/file?fileName='+${Co.date}+'/'+${Co.img1}">
                        </div>
                        <div class="textviewbox">
                            <div th:if="${Co.state}== 등록중"
                                 th:text="${Co.state}"
                                 th:value="${Co.state}"
                                 class="zonetext">
                            </div>
                            <div th:if="${Co.state}== 승인대기"
                                 th:text="${Co.state}"
                                 th:value="${Co.state}"
                                 class="zonetext1">
                            </div>
                            <div th:if="${Co.state}== 출시"
                                 th:text="${Co.state}"
                                 th:value="${Co.state}"
                                 class="zonetext2">
                            </div>
                            <div th:if="${Co.zonename}!= null"
                                 th:text="${Co.zonename}"
                                 th:value="${Co.zonename}"
                                 class="zonenameview">
                            </div>
                            <div th:if="${Co.address}!= null"
                                 th:text="${Co.address}"
                                 th:value="${Co.address}"
                                 class="zoneaddview">
                            </div>
                            <div style="width:300px;">
                                <div th:onclick="|javascript:selectzone(${Co.pk})|"
                                     class="zoneview1">
                                    <img src="/img/servicezone/zoneview.png">
                                </div>
                                <div th:onclick="|javascript:selectzoneview(${Co.pk})|"
                                     class="zoneview2">
                                    <img src="/img/servicezone/textview.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="margin:auto; margin-top:8px;">
                    <button class="inserzone" onclick="inser()">+ 서비스존 등록</button>
                </div>
            </div>
        </div>
        <div id="menu_wrap1" class="bg_white1">
            <div id="uptable1">
                <img onclick="backbtn()" class="backbtn" src="/img/back.png">
                <div>
                    <div class="ser1">
                        <span style="font-size:25px;">1. 서비스존 설정</span>

                        <!--                    <button onclick="selectOverlay('MARKER')">마커</button>-->
                        <!--                    <button onclick="selectOverlay('POLYLINE')">선</button>-->
                        <div style="width:100%">
                            <div class="boxname">
                                <div style="float:left;">
                                    <button style="font-size:18px;" class="drwbtn" onclick="selectOverlay('RECTANGLE')">사각형 <br>모양 버튼</button>
                                </div>
                                <div class="boxmas">
                                    사각형으로 영역 설정
                                </div>
                            </div>
                        </div>
                        <div style="width:100%">
                            <div class="boxname">
                                <div style="float:left;">
                                    <button style="font-size:18px;" class="drwbtn" onclick="selectOverlay('CIRCLE')">원모양 <br>버튼</button>
                                </div>
                                <div class="boxmas">
                                    원으로 영역 설정
                                </div>
                            </div>
                        </div>
                        <div style="width:100%">
                            <div class="boxname">
                                <div style="float:left;">
                                    <button style="font-size:18px;" class="drwbtn" onclick="selectOverlay('POLYGON')">다각형 <br>모양 버튼</button>
                                </div>
                                <div class="boxmas">
                                    3곳 이상을 선택하여 영역 설정
                                </div>
                            </div>
                        </div>
                        <div>
                            <input id="viewaddress" class="inte" type="text" placeholder="서비스 지역 ex)광주광역시 북구">
                            <br>
                            <input id="viewaddress1" class="inte" type="text" placeholder="설정영역 주소">
                        </div>
                        <div>
                            <span style="font-size:25px; margin-bottom:20px;">2. 서비스존 이름</span>
                            <div>
                                <input id="viewzonename" class="inte" type="text" placeholder="서비스존 이름">
                            </div>
                        </div>
                        <div>
                            <span style="font-size:25px; margin-bottom:20px;">3. 서비스존 설명</span>
                            <textarea id="viewzoneex" class="inte1" type="text" placeholder="서비스존 설명"></textarea>
                        </div>
                        <div>
                            <span style="font-size:25px; margin-bottom:20px;">4. 동영상 업로드</span>
                            <br>
                            <span style="font-size:17px; margin-bottom:20px;">&nbsp;&nbsp;- 동영상은 최대 2개까지 등록 가능합니다.</span>
                            <div class="vbox">
                                <div id="viewuploadvideo1" class="uploadvideo">
                                    <input id="viewrealUploadvideo1"  type="file" class="vedioupload" accept="video/*" required multiple style="display:none;">
                                    <div style="width:150px; height:150px; position:absolute;" onclick="viewvideo1()">
                                        <video id="viewinv1" class="inv1" src="/img/plus.mp4"
                                               onerror="this.src='/img/plus.mp4';"></video>
                                    </div>
                                    <div class="delete1" id="viewdelete1">
                                        <button id="viewdelbtn1" onclick="viewdelete1()" class="delbtn1">삭제</button>
                                    </div>
                                </div>
                                <div id="viewuploadvideo2" class="uploadvideo">
                                    <input id="viewrealUploadvideo2"  type="file" class="vedioupload" accept="video/*" required multiple style="display:none;">
                                    <div style="width:150px; height:150px; position:absolute;" onclick="viewvideo2()">
                                        <video id="viewinv2" class="inv1" src="/img/plus.mp4"
                                               onerror="this.src='/img/plus.mp4';"></video>
                                    </div>
                                    <div class="delete1" id="viewdelete2">
                                        <button id="viewdelbtn2" onclick="viewdelete2()" class="delbtn1">삭제</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="margin:auto;">
                            <span style="font-size:25px; margin-bottom:20px;">5. 이미지 업로드</span>
                            <br>
                            <span style="font-size:17px; margin-bottom:20px;">&nbsp;&nbsp;- 이미지는 최대 6장까지 등록 가능합니다.</span>
                            <div class="ibox">
                                <div id="viewuploadimg1" class="uploadimg">
                                    <input id="viewupimg1" class="upimg" type="file" required style="display:none;" accept="image/*">
                                    <div style="width:150px; height:150px; position:absolute;" onclick="viewimg1()">
                                        <img class="img" id="viewimg1" src="img/plus.png"
                                             onerror="this.src='/img/plus.png';">
                                    </div>
                                    <div class="delete1"  id="viewdelete3">
                                        <button id="viewdelbtn3" onclick="viewdelete3()" class="delbtn1">삭제</button>
                                    </div>
                                </div>
                                <div id="viewuploadimg2" class="uploadimg">
                                    <input id="viewupimg2" class="upimg" type="file" required style="display:none;" accept="image/*">
                                    <div style="width:150px; height:150px; position:absolute;" onclick="viewimg2()">
                                        <img class="img" id="viewimg2" src="img/plus.png"
                                             onerror="this.src='/img/plus.png';">
                                    </div>
                                    <div class="delete1" id="viewdelete4">
                                        <button id="viewdelbtn4"  onclick="viewdelete4()" class="delbtn1">삭제</button>
                                    </div>
                                </div>
                                <div id="viewuploadimg3" class="uploadimg">
                                    <input id="viewupimg3" class="upimg" type="file" required style="display:none;" accept="image/*">
                                    <div style="width:150px; height:150px; position:absolute;" onclick="viewimg3()">
                                        <img class="img" id="viewimg3" src="img/plus.png"
                                             onerror="this.src='/img/plus.png';">
                                    </div>
                                    <div class="delete1" id="viewdelete5">
                                        <button id="viewdelbtn5"  onclick="viewdelete5()" class="delbtn1">삭제</button>
                                    </div>
                                </div>
                                <div id="viewuploadimg4" class="uploadimg">
                                    <input id="viewupimg4" class="upimg" type="file" required style="display:none;" accept="image/*">
                                    <div style="width:150px; height:150px; position:absolute;" onclick="viewimg4()">
                                        <img class="img" id="viewimg4" src="img/plus.png"
                                             onerror="this.src='/img/plus.png';">
                                    </div>
                                    <div class="delete1" id="viewdelete6">
                                        <button id="viewdelbtn6"  onclick="viewdelete6()" class="delbtn1">삭제</button>
                                    </div>
                                </div>
                                <div id="viewuploadimg5" class="uploadimg">
                                    <input id="viewupimg5" class="upimg" type="file" required style="display:none;" accept="image/*">
                                    <div style="width:150px; height:150px; position:absolute;" onclick="viewimg5()">
                                        <img class="img" id="viewimg5" src="img/plus.png"
                                             onerror="this.src='/img/plus.png';">
                                    </div>
                                    <div class="delete1" id="viewdelete7">
                                        <button id="viewdelbtn7"  onclick="viewdelete7()" class="delbtn1">삭제</button>
                                    </div>
                                </div>
                                <div id="viewuploadimg6" class="uploadimg">
                                    <input id="viewupimg6" class="upimg" type="file" required style="display:none;" accept="image/*">
                                    <div style="width:150px; height:150px; position:absolute;" onclick="viewimg6()">
                                        <img class="img" id="viewimg6" src="img/plus.png"
                                             onerror="this.src='/img/plus.png';">
                                    </div>
                                    <div class="delete1" id="viewdelete8">
                                        <button id="viewdelbtn8"  onclick="viewdelete8()" class="delbtn1">삭제</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div style="margin-top:10px;">
                            <span style="font-size:25px; margin-bottom:20px;">6. 마커 선택</span>
                        </div>
                        <div class="chmarker">
                            <img class="mainicon" id="marker1" src="/img/marker/test/img_2.png">
                        </div>
                        <div>
                            <a class="base" onclick="up()">기본 마커 선택</a>
                        </div>
                        <div>
                            <a class="base" onclick="up1()">인기 마커 선택</a>
                        </div>
                        <div>
                            <a class="base" onclick="up2()">커스텀 마커 선택</a>
                        </div>
                        <div style="margin-bottom:10px; margin-top:20px;">
                            <span style="font-size:20px;">서비스존 전시/시설물 목록</span>
                        </div>
                        <div id="exbox" class="exbox">

                        </div>
                        <div style="width:80%; margin:auto;">
                            <button class="upbtn" onclick="editzone()">저장하기</button>
                        </div>
                        <div style="width:80%; margin:auto;">
                            <button class="upbtn">출시요청</button>
                        </div>
                        <div style="width:80%; margin:auto;">
                            <button class="upbtn" onclick="deletezone()">삭제</button>
                        </div>
                    </div>

                    <span id="pknum" hidden></span>

                    <p class="edit" style="display:none;">
                        <button id="undo" class="disabled" onclick="undo()" disabled>UNDO</button>
                        <button id="redo" class="disabled" onclick="redo()" disabled>REDO</button>
                    </p>
                </div>
            </div>
        </div>
        </div>
        <div class="custom_zoomcontrol radius_border">
            <span onclick="zoomIn()"><img src="/img/servicezone/zoomin.png" alt="확대"></span>
        </div>
        <div class="custom_zoomcontrol1 radius_border">
            <span onclick="zoomOut()"><img src="/img/servicezone/zoomout.png" alt="축소"></span>
        </div>
    </div>
<div id="load"> <img src="/img/spinner.gif" alt="loading"></div>

<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="pop_bt" style="font-size: 13pt;" onClick="close_pop();">X</span>
        <p style="text-align: center;"><span style="font-size: 14pt;"><b><span style="font-size: 35pt;">기본 마커</span></b></span></p>
        <div style="margin-bottom:30px;">
            <div class="basemarker">
                <img class="markerimg" src="/img/marker/location.png" onclick="semk1(this)">
            </div>
            <div class="basemarker">
                <img class="markerimg" src="/img/marker/m1.png" onclick="semk1(this)">
            </div>
            <div class="basemarker">
                <img class="markerimg" src="/img/marker/m2.png" onclick="semk1(this)">
            </div>
            <div class="basemarker">
                <img class="markerimg" src="/img/marker/m3.png" onclick="semk1(this)">
            </div>
            <div class="basemarker">
                <img class="markerimg" src="/img/marker/m4.png" onclick="semk1(this)">
            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
        </div>
        <p><br /></p>
    </div>
</div>
<div id="myModal1" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="pop_bt" style="font-size: 13pt;" onClick="close_pop1();">X</span>
        <p style="text-align: center;"><span style="font-size: 14pt;"><b><span style="font-size: 35pt;">인기 마커</span></b></span></p>
        <div style="margin-bottom:30px;">
            <div class="basemarker">
                <img class="markerimg" src="/img/marker/location.png" onclick="semk1(this)">
            </div>
            <div class="basemarker">
                <img class="markerimg" src="/img/marker/m1.png" onclick="semk1(this)">
            </div>
            <div class="basemarker">
                <img class="markerimg" src="/img/marker/m2.png" onclick="semk1(this)">
            </div>
            <div class="basemarker">
                <img class="markerimg" src="/img/marker/m3.png" onclick="semk1(this)">
            </div>
            <div class="basemarker">
                <img class="markerimg" src="/img/marker/m4.png" onclick="semk1(this)">
            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
        </div>
        <p><br /></p>
    </div>
</div>
<div id="myModal2" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="pop_bt" style="font-size: 13pt;" onClick="close_pop2();">X</span>
        <p style="text-align: center;"><span style="font-size: 14pt;"><b><span style="font-size: 35pt;">커스텀 마커</span></b></span></p>
        <div style="margin-bottom:30px;">
            <div class="basemarker">
                <img class="markerimg" src="/img/marker/location.png" onclick="semk1(this)">
            </div>
            <div class="basemarker">
                <img class="markerimg" src="/img/marker/m1.png" onclick="semk1(this)">
            </div>
            <div class="basemarker">
                <img class="markerimg" src="/img/marker/m2.png" onclick="semk1(this)">
            </div>
            <div class="basemarker">
                <img class="markerimg" src="/img/marker/m3.png" onclick="semk1(this)">
            </div>
            <div class="basemarker">
                <img class="markerimg" src="/img/marker/m4.png" onclick="semk1(this)">
            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
        </div>
        <p><br /></p>
    </div>
</div>

<script type="text/javascript">

function up() {
        $('#myModal').show();
};
//팝업 Close 기능
function close_pop(flag) {
     $('#myModal').hide();
};

function up1() {
        $('#myModal1').show();
};
//팝업 Close 기능
function close_pop1(flag) {
     $('#myModal1').hide();
};

function up2() {
        $('#myModal2').show();
};
//팝업 Close 기능
function close_pop2(flag) {
     $('#myModal2').hide();
};

</script>
<!--로컬-->
<!--<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=02733eb431496d9133c0f58496aa64fb&libraries=services,clusterer,drawing"></script>-->
<!--서버-->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=00cb19549df691541ac9bf9f0256e498&libraries=services,clusterer,drawing"></script>
<script src="https://code.jquery.com/jquery-latest.js"></script>
<!--주소 검색 및 내위치-->
<!--영역 그리기-->
<script src="/js/map/map.js"></script>
<!-- 비디오 및 이미지 업로드 -->
<script src="/js/file/file.js"></script>
<script src="/js/file/filesev.js"></script>
<script src="/js/marker/marker.js"></script>
<script src="/js/main/sev.js"></script>
<script src="/js/main/servicezonelist.js"></script>

<!--자동실행함수 서비스존 위치마커 표시 -->
<script type="text/javascript">
// 마커 클러스터러를 생성합니다
var clusterer = new kakao.maps.MarkerClusterer({
    map: map, // 마커들을 클러스터로 관리하고 표시할 지도 객체
    averageCenter: true, // 클러스터에 포함된 마커들의 평균 위치를 클러스터 마커 위치로 설정
    minLevel: 7 // 클러스터 할 최소 지도 레벨
});

var markers = [];

window.onload=function(){
// 마커를 담을 배열입니다
$.ajax({
        url  : "/view",
        type : "POST",
        success : function(result) {
        for(let i=0; i<result.plist.length; i++){
                let value = result.plist[i]
                let [point1,point2] = value.split(",");

                var imageSrc = result.mlist[i], // 마커이미지의 주소입니다
                    imageSize = new kakao.maps.Size(64, 69), // 마커이미지의 크기입니다
                    imageOption = {offset: new kakao.maps.Point(27, 69)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.


                var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption)
                var marker = new kakao.maps.Marker({
                    position: new kakao.maps.LatLng(point1, point2), // 마커의 좌표
                    map: map, // 마커를 표시할 지도 객체
                    image: markerImage
                });
                markers.push(marker);
        }
        clusterer.addMarkers(markers);
        },error:function(request,status,error){

        }
    })

}
</script>

<!-- swal창 띄우기 -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
</html>
