<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>WATCHIGO</title>

    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/main/main.css">
    <link rel="stylesheet" href="css/nav/nav.css">
    <link rel="stylesheet" href="css/servicezone/insert.css">
    <link rel="stylesheet" href="css/exhibit/main.css">

</head>
<body>
<div th:insert="common/navbar.html"></div>
<div class="map_wrap">
    <div id="menu_wrap" class="bg_white">
        <div class="option" style="height:120px;">
            <div style="position:relative;">
                <input class="srad" type="text" placeholder="아파트, 지역 및 학교명으로 검색 " value="" id="keyword" size="15" onkeyup="if(window.event.keyCode==13){sss()}">
                <img class="searchclear" src="/img/servicezone/serch.png" onclick="sss()">
            </div>
            <img class="backbtn99" onclick="backbtn()" src="/img/srinsert/Arrow.png">
            <span class="t2">SERVICE ZONE SETTING ────────</span>
        </div>
        <div id="uptable">
            <div>
                <div class="ser2">
                    <span style="width:100%; font-size:18px; font-style: normal; font-weight: 700;">영역선택 툴</span>
                    <div style="width:100%">
                        <div class="boxname">
                            <div style="float:left;">
                                <div style="font-size:18px;" class="drwbtn" onclick="selectOverlay('RECTANGLE')">
                                    <img id="reimg" th:src="${type == 0 ? '/img/srinsert/RentangleBlue.png' : '/img/srinsert/Rentangle.png'} ">
                                </div>
                            </div>
                            <div style="float:left; margin-left:20px;">
                                <div style="font-size:18px;" class="drwbtn" onclick="selectOverlay('CIRCLE')">
                                    <img id="ciimg" th:src="${type== 1 ? '/img/srinsert/CircleBlue.png' : '/img/srinsert/Circle.png'}">
                                </div>
                            </div>
                            <div style="float:left; margin-left:20px;">
                                <div style="font-size:18px;" class="drwbtn" onclick="selectOverlay('POLYGON')">
                                    <img id="plimg" th:src="${type == 2 ? '/img/srinsert/PolygonBlue.png' : '/img/srinsert/Polygon.png'}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="zguidebox">
                        <span class="zguide">영역선택 툴을 선택해주세요</span>
                    </div>
                    <span style="width:100%; font-size:18px; font-style: normal; font-weight: 700;">설정영역주소</span>
                    <div>
                        <input th:value="${address}" style="margin-top:10px;" id="address" class="inte" type="text" placeholder="설정영역 입력">
                        <input th:value="${address1}" style="margin-bottom:40px;" id="address1" class="inte" type="text" placeholder="상세주소 입력">
                    </div>
                    <span style="width:100%; font-size:18px; font-style: normal; font-weight: 700;">서비스존 이름</span>
                    <div>
                        <div>
                            <input th:value="${zonename}" style="margin-top:10px; margin-bottom:40px;" id="zonename" class="inte" type="text" placeholder="서비스존 이름">
                        </div>
                    </div>
                    <span style="width:100%; font-size:18px; font-style: normal; font-weight: 700;">서비스존 설명</span>
                    <div>
                        <textarea th:value="${zoneex}" th:text="${zoneex}" style="margin-bottom:40px;" id="zoneex" class="inte1" type="text" placeholder="서비스존 설명"></textarea>
                    </div>
                    <span style="width:100%; font-size:18px; font-style: normal; font-weight: 700;">서비스존 동영상 업로드</span>
                    <div style="width:93.5%; margin-top:10px; margin-bottom:40px; height:180px; border: 1px dashed #E0E0E0; border-radius: 8px;">
                        <div class="vbox">
                            <div id="uploadvideo1" class="uploadvideo">
                                <input id="realUploadvideo1"  type="file" class="vedioupload" accept="video/*" required multiple style="display:none;">
                                <div style="position:relative;" onclick="video1()">
                                    <img th:style="${vid1 == '' ? 'display:block' : 'display:none'}" id="uploadview" class="invimg1" src="/img/srinsert/upload.png">
                                    <video id="inv1" class="inv1"  th:src="'/file?fileName='+${date}+'/'+${vid1}"
                                           onerror="this.onerror=null; this.src='';"></video>
                                </div>
                                <div th:style="${vid1 != '' ? 'display:block' : 'display:none'}" class="delete" id="delete1">
                                    <img id="delbtn1" onclick="delete1()" class="delbtn" src="/img/srinsert/delete.png">
                                </div>
                            </div>
                            <div style="width:20px;"></div>
                            <div id="uploadvideo2" class="uploadvideo">
                                <input id="realUploadvideo2"  type="file" class="vedioupload" accept="video/*" required multiple style="display:none;">
                                <div onclick="video2()">
                                    <img th:style="${vid2 == '' ? 'display:block' : 'display:none'}" id="uploadview2" class="invimg1" src="/img/srinsert/upload.png">
                                    <video id="inv2" class="inv1" th:src="'/file?fileName='+${date}+'/'+${vid2}"
                                           onerror="this.onerror=null; this.src='';"></video>
                                </div>
                                <div th:style="${vid2 != '' ? 'display:block' : 'display:none'}" class="delete" id="delete2">
                                    <img id="delbtn2" onclick="delete2()" class="delbtn" src="/img/srinsert/delete.png">
                                </div>
                            </div>
                        </div>
                        <span style="text-align:center; display: flex; justify-content: center; align-items: center;
                                    color: #BDBDBD;font-style: normal; font-weight: 300 font-size: 14px;">
                            <img src="/img/srinsert/videoicon.png">&nbsp;동영상은 최대 2개까지 등록 가능합니다.
                        </span>
                    </div>
                    <span style="width:100%; font-size:18px; font-style: normal; font-weight: 700;">서비스존 이미지 업로드</span>

                    <div style="width:93.5%; margin-top:10px; margin-bottom:40px; height:420px; border: 1px dashed #E0E0E0; border-radius: 8px;">
                        <div class="ibox">
                            <div id="uploadimg1" class="uploadimg">
                                <input id="upimg1" class="upimg" type="file" required style="display:none;" accept="image/*">
                                <div style="position:relative;" onclick="img1()">
                                    <img th:style="${img1 != null ? 'display:block' : 'display:none'}" class="img" id="img1"
                                         th:src="'/file?fileName='+${date}+'/'+${img1}"
                                         onerror="this.onerror=null; this.src='/img/srinsert/upload.png';">
                                </div>
                                <div th:style="${img1 !='' ? 'display:block' : 'display:none'}" class="delete"  id="delete3">
                                    <img id="delbtn3" onclick="delete3()" class="delbtn" src="/img/srinsert/delete.png">
                                </div>
                            </div>
                            <div style="width:20px;"></div>

                            <div id="uploadimg2" class="uploadimg">
                                <input id="upimg2" class="upimg" type="file" required style="display:none;" accept="image/*">
                                <div style="position:relative;" onclick="img2()">
                                    <img th:style="${img2 != null ? 'display:block' : 'display:none'}" class="img" id="img2"
                                         th:src="'/file?fileName='+${date}+'/'+${img2}"
                                         onerror="this.onerror=null; this.src='/img/srinsert/upload.png';">
                                </div>
                                <div th:style="${img2 !='' ? 'display:block' : 'display:none'}" class="delete" id="delete4">
                                    <img id="delbtn4" onclick="delete4()" class="delbtn" src="/img/srinsert/delete.png">
                                </div>
                            </div>
                        </div>
                        <div class="ibox">
                            <div id="uploadimg3" class="uploadimg">
                                <input id="upimg3" class="upimg" type="file" required style="display:none;" accept="image/*">
                                <div style="position:relative;" onclick="img3()">
                                    <img th:style="${img3 !=null ? 'display:block' : 'display:none'}" class="img" id="img3"
                                         th:src="'/file?fileName='+${date}+'/'+${img3}"
                                         onerror="this.onerror=null; this.src='/img/srinsert/upload.png';">
                                </div>
                                <div th:style="${img3 !='' ? 'display:block' : 'display:none'}" class="delete" id="delete5">
                                    <img id="delbtn5" onclick="delete5()" class="delbtn" src="/img/srinsert/delete.png">
                                </div>
                            </div>
                            <div style="width:20px;"></div>
                            <div id="uploadimg4" class="uploadimg">
                                <input id="upimg4" class="upimg" type="file" required style="display:none;" accept="image/*">
                                <div style="position:relative;" onclick="img4()">
                                    <img th:style="${img4 !=null ? 'display:block' : 'display:none'}" class="img" id="img4"
                                         th:src="'/file?fileName='+${date}+'/'+${img4}"
                                         onerror="this.onerror=null; this.src='/img/srinsert/upload.png';">
                                </div>
                                <div th:style="${img4 !='' ? 'display:block' : 'display:none'}" class="delete" id="delete6">
                                    <img id="delbtn6" onclick="delete6()" class="delbtn" src="/img/srinsert/delete.png">
                                </div>
                            </div>
                        </div>
                        <div class="ibox">
                            <div id="uploadimg5" class="uploadimg">
                                <input id="upimg5" class="upimg" type="file" required style="display:none;" accept="image/*">
                                <div style="position:relative;" onclick="img5()">
                                    <img th:style="${img5 !=null ? 'display:block' : 'display:none'}" class="img" id="img5"
                                         th:src="'/file?fileName='+${date}+'/'+${img5}"
                                         onerror="this.onerror=null; this.src='/img/srinsert/upload.png';">
                                </div>
                                <div style="width:20px;"></div>
                                <div th:style="${img5 !='' ? 'display:block' : 'display:none'}" class="delete" id="delete7">
                                    <img id="delbtn7" onclick="delete7()" class="delbtn" src="/img/srinsert/delete.png">
                                </div>
                            </div>
                            <div style="width:20px;"></div>
                            <div id="uploadimg6" class="uploadimg">
                                <input id="upimg6" class="upimg" type="file" required style="display:none;" accept="image/*">
                                <div style="position:relative;" onclick="img6()">
                                    <img th:style="${img6 !=null ? 'display:block' : 'display:none'}" class="img" id="img6"
                                         th:src="'/file?fileName='+${date}+'/'+${img6}"
                                         onerror="this.onerror=null; this.src='/img/srinsert/upload.png';">
                                </div>
                                <div th:style="${img6 !='' ? 'display:block' : 'display:none'}" class="delete" id="delete8">
                                    <img id="delbtn8" onclick="delete8()" class="delbtn" src="/img/srinsert/delete.png">
                                </div>
                            </div>
                        </div>
                        <span style="text-align:center; display: flex; justify-content: center; align-items: center;
                                    color: #BDBDBD;font-style: normal; font-weight: 300 font-size: 14px;">
                            <img src="/img/srinsert/imgicon.png">&nbsp;이미지는 최대 6개까지 등록 가능합니다.
                        </span>
                    </div>
                    <span style="width:100%; font-size:18px; font-style: normal; font-weight: 700;">마커 선택</span>
                    <div style="width:93.5%; border-radius: 8px; height:185px; margin-top:10px; margin-bottom:40px; border: 1px solid #E0E0E0;">
                        <div class="mbox">
                            <div class="markerbox">
                                <div class="markerse" id="markerse1" onclick="up()">
                                    기본 마커 선택
                                </div>
                                <div class="markerse" id="markerse2" onclick="up1()">
                                    인기 마커 선택
                                </div>
                                <div class="markerse" id="markerse3" onclick="up2()">
                                    커스텀 마커 선택
                                </div>
                            </div>
                            <div style="width:20px;"></div>
                            <div class="markerbox">
                                <div class="markerbox1">
                                    <div class="semk">
                                        <img id="marker1" th:src="${marker}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span style="width:100%; font-size:18px; font-style: normal; font-weight: 700;">서비스존 전시 / 시설물 목록</span>
                    <div id="exbox" style="width:93.5%; overflow-y: auto; border-radius: 8px; height:100px; margin-top:10px; margin-bottom:40px; border: 1px solid #E0E0E0;">
                        <span class="id2">없음</span>
                    </div>
                    <div style="width:93.5%;">
                        <div class="mbox">
                            <div class="submitbox" th:if="${state == '등록중'}">
                                <img onclick="editzone()" src="/img/srinsert/save.png">
                            </div>
                            <div style="width:20px;"></div>
                            <div th:if="${state == '등록중'}" class="submitbox">
                                <img onclick="editzone1()" src="/img/srinsert/save1.png">
                            </div>
                            <div th:if="${state == '출시' || state == '승인대기'}" class="submitbox">
                                <img onclick="editzone2()" src="/img/srinsert/nonsave.png">
                            </div>
                            <div style="width:20px;"></div>
                            <div class="submitbox">
                                <img src="/img/srinsert/del.png" onclick="deletezone()">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="map" style="width:77.7%;height:100%;position:relative;overflow:hidden;"></div>
    <span th:text="${pk}" id="pknum" hidden></span>
    <span th:text="${type}" id="type" hidden></span>
    <span th:text="${data}" id="data" hidden></span>
    <span th:text="${center}" id="center" hidden></span>
    <div id="zoombtn1" class="custom_zoomcontrol radius_border">
        <span onclick="zoomIn()"><img src="/img/servicezone/zoomin.png" alt="확대"></span>
    </div>
    <div id="zoombtn2" class="custom_zoomcontrol1 radius_border">
        <span onclick="zoomOut()"><img src="/img/servicezone/zoomout.png" alt="축소"></span>
    </div>
</div>
<div id="load"> <img src="/img/spinner.gif" alt="loading"></div>
<div id="menu_wrap1" class="tab1">
    <div class="backbtn">
        <img onclick="btnnone()" style="border-radius: 8px 0px 0px 8px; background:#e0e0e0; position: relative; top: 577.5px;"
             src="/img/servicezone/close.png">
    </div>
    <div id="uptable1" class="uptable1">
        <div id="viewzonename" class="viewzonename">
            <h1 id="zonetext" style="color: #1475E5;">
                304카페
            </h1>
        </div>
        <div id="viewzoneex" class="viewzoneex">
            <div id="zonetext1" class="textbox">
                만천하의 생의 천고에 새 하여도 열락의 듣기만 같은 그림자는 약동하다. 가치를 인생의 긴지라 뛰노는 곧 속에서 것이다. 따뜻한 대중을 원대하고, 있는 품었기 힘차게 천지는 봄바람이다. 보는 이 그러므로 것이 만천하의 봄바람이다. 두손을 온갖 무한한 사막이다. 뜨고, 하는 천지는 곳이 앞이 청춘 운다. 원질이 가지에 때에, 그들에게 그들의 품었기 찾아 놀이 이것이다. 충분히 전인 그러므로 보는 사막이다. 작고 가슴이 있는 위하여, 피고 이것이다. 자신과 새 그것은 무엇이 있으며, 것이다.생생하며, 이것은 뜨고, 방황하였으며, 힘있다. 전인 대한 주며, 꽃이 위하여서. 피에 싶이 대고, 예가 과실이 이것은 든 품에 천하를 있다. 청춘의 수 그것을 바로 청춘의 목숨을 있는가? 우는 그러므로 가지에 피어나기 그들의 현저하게 못할 우리의 칼이다. 무엇을 열매를 있을 곧 부패뿐이다하여서 피가 품으며, 것은 예수는 보이는 있으랴? 그들의 끝까지 대중을
                만천하의 생의 천고에 새 하여도 열락의 듣기만 같은 그림자는 약동하다. 가치를 인생의 긴지라 뛰노는 곧 속에서 것이다. 따뜻한 대중을 원대하고, 있는 품었기 힘차게 천지는 봄바람이다. 보는 이 그러므로 것이 만천하의 봄바람이다. 두손을 온갖 무한한 사막이다. 뜨고, 하는 천지는 곳이 앞이 청춘 운다. 원질이 가지에 때에, 그들에게 그들의 품었기 찾아 놀이 이것이다. 충분히 전인 그러므로 보는 사막이다. 작고 가슴이 있는 위하여, 피고 이것이다. 자신과 새 그것은 무엇이 있으며, 것이다.생생하며, 이것은 뜨고, 방황하였으며, 힘있다. 전인 대한 주며, 꽃이 위하여서. 피에 싶이 대고, 예가 과실이 이것은 든 품에 천하를 있다. 청춘의 수 그것을 바로 청춘의 목숨을 있는가? 우는 그러므로 가지에 피어나기 그들의 현저하게 못할 우리의 칼이다. 무엇을 열매를 있을 곧 부패뿐이다하여서 피가 품으며, 것은 예수는 보이는 있으랴? 그들의 끝까지 대중을
                만천하의 생의 천고에 새 하여도 열락의 듣기만 같은 그림자는 약동하다. 가치를 인생의 긴지라 뛰노는 곧 속에서 것이다. 따뜻한 대중을 원대하고, 있는 품었기 힘차게 천지는 봄바람이다. 보는 이 그러므로 것이 만천하의 봄바람이다. 두손을 온갖 무한한 사막이다. 뜨고, 하는 천지는 곳이 앞이 청춘 운다. 원질이 가지에 때에, 그들에게 그들의 품었기 찾아 놀이 이것이다. 충분히 전인 그러므로 보는 사막이다. 작고 가슴이 있는 위하여, 피고 이것이다. 자신과 새 그것은 무엇이 있으며, 것이다.생생하며, 이것은 뜨고, 방황하였으며, 힘있다. 전인 대한 주며, 꽃이 위하여서. 피에 싶이 대고, 예가 과실이 이것은 든 품에 천하를 있다. 청춘의 수 그것을 바로 청춘의 목숨을 있는가? 우는 그러므로 가지에 피어나기 그들의 현저하게 못할 우리의 칼이다. 무엇을 열매를 있을 곧 부패뿐이다하여서 피가 품으며, 것은 예수는 보이는 있으랴? 그들의 끝까지 대중을
                만천하의 생의 천고에 새 하여도 열락의 듣기만 같은 그림자는 약동하다. 가치를 인생의 긴지라 뛰노는 곧 속에서 것이다. 따뜻한 대중을 원대하고, 있는 품었기 힘차게 천지는 봄바람이다. 보는 이 그러므로 것이 만천하의 봄바람이다. 두손을 온갖 무한한 사막이다. 뜨고, 하는 천지는 곳이 앞이 청춘 운다. 원질이 가지에 때에, 그들에게 그들의 품었기 찾아 놀이 이것이다. 충분히 전인 그러므로 보는 사막이다. 작고 가슴이 있는 위하여, 피고 이것이다. 자신과 새 그것은 무엇이 있으며, 것이다.생생하며, 이것은 뜨고, 방황하였으며, 힘있다. 전인 대한 주며, 꽃이 위하여서. 피에 싶이 대고, 예가 과실이 이것은 든 품에 천하를 있다. 청춘의 수 그것을 바로 청춘의 목숨을 있는가? 우는 그러므로 가지에 피어나기 그들의 현저하게 못할 우리의 칼이다. 무엇을 열매를 있을 곧 부패뿐이다하여서 피가 품으며, 것은 예수는 보이는 있으랴? 그들의 끝까지 대중을

            </div>
        </div>
        <div id="viewzonevideo" class="viewzonevideo">
            <video id="viewvideo" class="viewvideo" src="/img/plus.mp4"></video>
        </div>
        <div id="viewzoneimg" class="viewzonevideo">
            <img id="viewimg" class="viewimg"  src="/img/plus.png">
        </div>
        <div class="viewzonevideo" >
            <div class="mbox1">
                <div>
                    <span style="width:100%; font-size:15px; font-style: normal; font-weight: 700;">지도 표시 마커 이미지</span>
                </div>
                <div style="width:43px;"></div>
                <div>
                    <span style="width:100%; font-size:15px; font-style: normal; font-weight: 700;">AR 마커 이미지</span>
                </div>
            </div>
            <div class="mbox">
                <div class="markerbox">
                    <div class="markerbox1">
                        <div class="semk">
                            <img id="marker3" src="/img/marker/m1.png">
                        </div>
                    </div>
                </div>
                <div style="width:20px;"></div>
                <div class="markerbox">
                    <div class="markerbox1">
                        <div class="semk">
                            <img id="marker4" src="/img/marker/m1.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="viewzonevideo1" >
            <span style="width:100%; font-size:15px; font-style: normal; font-weight: 700;">영상 인식 진행도</span>
            <div class="detectbox">
                <div class="deper" style="margin-top:15px;">
                    <div class="perbox">
                        <div class="rabelper">
                            라벨링 진행도
                            <div class="rabelnum">
                                20%
                            </div>
                        </div>
                        <progress class="bar" value="20" max="100"></progress>
                    </div>
                </div>
                <div style="height:20px;">
                </div>
                <div class="deper">
                    <div class="perbox">
                        <div class="rabelper">
                            머신러닝 진행도
                            <div class="rabelnum">
                                20%
                            </div>
                        </div>
                        <progress class="bar"  value="20" max="100"></progress>
                    </div>
                </div>
            </div>
        </div>
<!--        <div class="viewturnbox">-->
<!--            <button class="viewturnbtn" onclick="btn3()">전시/시설물이 등록된 서비스존 리스트 보기</button>-->
<!--        </div>-->
        <div class="viewturnbox">
            <button class="viewturnbtn1" onclick="editgo()">수정</button>
        </div>
        <div>
            <span id="pknum1" hidden></span>
            <p class="edit" style="display:none;">
                <button id="undo" class="disabled" onclick="undo()" disabled>UNDO</button>
                <button id="redo" class="disabled" onclick="redo()" disabled>REDO</button>
            </p>
        </div>
    </div>
</div>
<div id="menu_wrap2" class="tab1">
    <div class="backbtn">
        <img onclick="btnnone()" style="border-radius: 8px 0px 0px 8px; background:#e0e0e0; position: relative; top: 577.5px;"
             src="/img/servicezone/close.png">
    </div>
    <div  class="uptable1">
        <div style="width:100%; height:100%;">
            <div style="display: flex; justify-content: center; align-items: center;">
                <h1 style="float:left; color: #1475E5; font-weight: 700;">
                    SERVICE ZONE LIST
                </h1>
            </div>
            <div class="viewzonebox2">
                <div id="viewzonebox4" class="viewzonebox3">
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <div class="exzoneview">
                            <div th:if="${userlist1}!=null" th:each="Co : ${userlist1}">
                                <span class="zoneexname" th:if="${Co.address}!= null"
                                      th:text="${Co.address}"
                                      th:value="${Co.address}">전라 남도 여수시</span>
                                <div class="exbtn"th:if="${Co.zonename}!= null"
                                     th:text="${Co.zonename}"
                                     th:value="${Co.zonename}" th:onclick="|javascript:search(${Co.pk})|">
                                    빛이드는 펜션
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style=" display: flex;
                         justify-content: center;
                         align-items: center;">
                        <div class="bb1" id="bb1">
                            <div class="zoneviewbox2" th:if="${userlist}!=null" th:each="Co : ${userlist}">
                                <div class="tbox1">
                                    <div class="extype" th:if="${Co.type}== 시설물">
                                        시설물
                                    </div>
                                    <div class="extype" th:if="${Co.type}== 전시물">
                                        전시물
                                    </div>
                                    <div class="extype" th:if="${Co.type}== 기타">
                                        기타
                                    </div>
                                    <div class="exzone1" th:if="${Co.zonename}!= null"
                                         th:text="${Co.zonename}"
                                         th:value="${Co.zonename}">
                                    </div>
                                    <div class="exname1" th:if="${Co.name}!= null"
                                         th:text="${Co.name}"
                                         th:value="${Co.name}">
                                    </div>
                                </div>
                                <div class="tbox2">
                                    <div th:onclick="|javascript:selectexhibit(${Co.seq})|">
                                        <img style="width:70px; height:50px;" src="/img/exhibit/zoneview.png">
                                    </div>
                                    <div style="width:20px;"></div>
                                    <div  th:onclick="|javascript:selectexhibitview(${Co.seq})|">
                                        <img style="width:70px; height:50px;" src="/img/exhibit/textview.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="pop_bt" style="font-size: 13pt;" onClick="close_pop();">X</span>
        <p style="text-align: center;"><span style="font-size: 14pt;"><b><span style="font-size: 35pt; color: #85BEFF;">기본 마커</span></b></span></p>
        <div class="mkicbox" style="width:100%; margin-bottom:20px;">
            <div class="bigbox">
                <div class="basemarker">
                    <img class="markerimg" src="/img/marker/m5.png" onclick="semk1(this)">
                </div>
                <div class="basemarker">
                    <img class="markerimg" src="/img/marker/m1.png" onclick="semk1(this)">
                </div>
                <div class="basemarker">
                    <img class="markerimg" src="/img/marker/m2.png" onclick="semk1(this)">
                </div>
                <div class="basemarker">
                    <img class="markerimg" src="/img/marker/m3.png" onclick="semk1(this)">
                </div>
                <div class="basemarker">
                    <img class="markerimg" src="/img/marker/m4.png" onclick="semk1(this)">
                </div>
            </div>
            <div class="bigbox">
                <div class="basemarker">
                    <img class="markerimg" src="/img/marker/m6.png" onclick="semk1(this)">
                </div>
                <div class="basemarker">
                    <img class="markerimg" src="/img/marker/m7.png" onclick="semk1(this)">
                </div>
                <div class="basemarker">

                </div>
                <div class="basemarker">

                </div>
                <div class="basemarker">

                </div>
            </div>
            <div class="bigbox">
                <div class="basemarker">

                </div>
                <div class="basemarker">

                </div>
                <div class="basemarker">

                </div>
                <div class="basemarker">

                </div>
                <div class="basemarker">

                </div>
            </div>
            <div class="bigbox">
                <div class="basemarker">

                </div>
                <div class="basemarker">

                </div>
                <div class="basemarker">

                </div>
                <div class="basemarker">

                </div>
                <div class="basemarker">

                </div>
            </div>
        </div>
        <p><br /></p>
    </div>
</div>
<div id="myModal1" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="pop_bt" style="font-size: 13pt;" onClick="close_pop1();">X</span>
        <p style="text-align: center;"><span style="font-size: 14pt;"><b><span style="font-size: 35pt; color: #85BEFF;">인기 마커</span></b></span></p>
        <div class="mkicbox" style="width:100%; margin-bottom:20px;">
            <div class="bigbox">
                <div class="basemarker">
                    <img class="markerimg" src="/img/marker/m5.png" onclick="semk1(this)">
                </div>
                <div class="basemarker">
                    <img class="markerimg" src="/img/marker/m1.png" onclick="semk1(this)">
                </div>
                <div class="basemarker">
                    <img class="markerimg" src="/img/marker/m2.png" onclick="semk1(this)">
                </div>
                <div class="basemarker">
                    <img class="markerimg" src="/img/marker/m3.png" onclick="semk1(this)">
                </div>
                <div class="basemarker">
                    <img class="markerimg" src="/img/marker/m4.png" onclick="semk1(this)">
                </div>
            </div>
            <div class="bigbox">
                <div class="basemarker">
                    <img class="markerimg" src="/img/marker/m6.png" onclick="semk1(this)">
                </div>
                <div class="basemarker">
                    <img class="markerimg" src="/img/marker/m7.png" onclick="semk1(this)">
                </div>
                <div class="basemarker">

                </div>
                <div class="basemarker">

                </div>
                <div class="basemarker">

                </div>
            </div>
            <div class="bigbox">
                <div class="basemarker">

                </div>
                <div class="basemarker">

                </div>
                <div class="basemarker">

                </div>
                <div class="basemarker">

                </div>
                <div class="basemarker">

                </div>
            </div>
            <div class="bigbox">
                <div class="basemarker">

                </div>
                <div class="basemarker">

                </div>
                <div class="basemarker">

                </div>
                <div class="basemarker">

                </div>
                <div class="basemarker">

                </div>
            </div>
        </div>
        <p><br /></p>
    </div>
</div>
<div id="myModal2" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="pop_bt" style="font-size: 13pt;" onClick="close_pop2();">X</span>
        <p style="text-align: center;"><span style="font-size: 14pt;"><b><span style="font-size: 35pt; color: #85BEFF;">커스텀 마커</span></b></span></p>
        <div class="mkicbox" style="width:100%; margin-bottom:20px;">
            <div class="bigbox">
                <div class="basemarker">
                    <img class="markerimg" src="/img/marker/m5.png" onclick="semk1(this)">
                </div>
                <div class="basemarker">
                    <img class="markerimg" src="/img/marker/m1.png" onclick="semk1(this)">
                </div>
                <div class="basemarker">
                    <img class="markerimg" src="/img/marker/m2.png" onclick="semk1(this)">
                </div>
                <div class="basemarker">
                    <img class="markerimg" src="/img/marker/m3.png" onclick="semk1(this)">
                </div>
                <div class="basemarker">
                    <img class="markerimg" src="/img/marker/m4.png" onclick="semk1(this)">
                </div>
            </div>
            <div class="bigbox">
                <div class="basemarker">
                    <img class="markerimg" src="/img/marker/m6.png" onclick="semk1(this)">
                </div>
                <div class="basemarker">
                    <img class="markerimg" src="/img/marker/m7.png" onclick="semk1(this)">
                </div>
                <div class="basemarker">

                </div>
                <div class="basemarker">

                </div>
                <div class="basemarker">

                </div>
            </div>
            <div class="bigbox">
                <div class="basemarker">

                </div>
                <div class="basemarker">

                </div>
                <div class="basemarker">

                </div>
                <div class="basemarker">

                </div>
                <div class="basemarker">

                </div>
            </div>
            <div class="bigbox">
                <div class="basemarker">

                </div>
                <div class="basemarker">

                </div>
                <div class="basemarker">

                </div>
                <div class="basemarker">

                </div>
                <div class="basemarker">

                </div>
            </div>
        </div>
        <p><br /></p>
    </div>
</div>

<script type="text/javascript">
// 수정페이지 자동함수
window.onload=function(){
var type = document.getElementById('type').innerText;
var data = document.getElementById('data').innerText;
var center = document.getElementById('center').innerText;

let [s1, s2] =  center.split(',');
// 좌표 포지션 생성
var newPosition = new kakao.maps.LatLng(s1, s2)
// 이동
map.setLevel(2, {anchor: newPosition});
map.setCenter(newPosition);

if(type == "0"){
serviceszone = data ;
rectangle.setMap(null);
polygon.setMap(null);
circle.setMap(null);

let [sp1, sp2] = data.split('&');
let [ep1, ep2] = sp1.split(',');
let [ep3, ep4] = sp2.split(',');

sspp1 = Number (ep1);
sspp2 = Number (ep2);
eepp1 = Number (ep3);
eepp2 = Number (ep4);

var sw = new kakao.maps.LatLng(ep1, ep2),
   ne = new kakao.maps.LatLng(ep3, ep4);
// 사각형을 구성하는 영역정보를 생성합니다
// 사각형을 생성할 때 영역정보는 LatLngBounds 객체로 넘겨줘야 합니다
var rectangleBounds = new kakao.maps.LatLngBounds(sw, ne);
// 지도에 표시할 사각형을 생성합니다
rectangle = new kakao.maps.Rectangle({
   bounds: rectangleBounds, // 그려질 사각형의 영역정보입니다
   strokeWeight: 4, // 선의 두께입니다
   strokeColor: '#FF3DE5', // 선의 색깔입니다
   strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
   strokeStyle: 'shortdashdot', // 선의 스타일입니다
   fillColor: '#FF8AEF', // 채우기 색깔입니다
   fillOpacity: 0.8 // 채우기 불투명도 입니다
});

// 지도에 사각형을 표시합니다
rectangle.setMap(map);
findexrectangle1();
}
else if(type == "1"){
serviceszone = data ;

// 지도에 표시할 원을 생성합니다
rectangle.setMap(null);
circle.setMap(null);
polygon.setMap(null);

let [sp1, sp2] = data.split('&');
let [ce1, ce2] = sp1.split(',');

sspp1 = Number (ce1);
sspp2 = Number (ce2);
eepp1 = Number (sp2);

circle = new kakao.maps.Circle({
    center : new kakao.maps.LatLng(ce1, ce2),  // 원의 중심좌표 입니다
    radius: sp2, // 미터 단위의 원의 반지름입니다
    strokeWeight: 5, // 선의 두께입니다
    strokeColor: '#75B8FA', // 선의 색깔입니다
    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'dashed', // 선의 스타일 입니다
    fillColor: '#CFE7FF', // 채우기 색깔입니다
    fillOpacity: 0.7  // 채우기 불투명도 입니다
});

// 지도에 원을 표시합니다
circle.setMap(map);
insidecircle1(sp2);
}
else if(type == "2"){
serviceszone = data;

rectangle.setMap(null);
circle.setMap(null);
polygon.setMap(null);

let p1 = data.split('&');
var polygonPath = [];
for(var i=0; i<(p1.length)-1; i++){
    let [p, s] = p1[i].split(',');
    polygonPath[i] = new kakao.maps.LatLng(p,s)
}
pol11 = polygonPath;
// 지도에 표시할 다각형을 생성합니다
polygon = new kakao.maps.Polygon({
    path:polygonPath, // 그려질 다각형의 좌표 배열입니다
    strokeWeight: 3, // 선의 두께입니다
    strokeColor: '#39DE2A', // 선의 색깔입니다
    strokeOpacity: 0.8, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
    strokeStyle: 'longdash', // 선의 스타일입니다
    fillColor: '#A2FF99', // 채우기 색깔입니다
    fillOpacity: 0.7 // 채우기 불투명도 입니다
});

// 지도에 다각형을 표시합니다
polygon.setMap(map);
findexplogon1();
}
}

function up() {
        $('#myModal').show();
        document.getElementById('markerse1').style.backgroundColor= '#AFD1F9';
        document.getElementById('markerse1').style.color= '#FFFFFF';
};
//팝업 Close 기능
function close_pop(flag) {
     $('#myModal').hide();
     document.getElementById('markerse1').style.backgroundColor= '#F2F2F2';
     document.getElementById('markerse1').style.color= '#333333';
};

function up1() {
        $('#myModal1').show();
        document.getElementById('markerse2').style.backgroundColor= '#AFD1F9';
        document.getElementById('markerse2').style.color= '#FFFFFF';
};
//팝업 Close 기능
function close_pop1(flag) {
     $('#myModal1').hide();
     document.getElementById('markerse2').style.backgroundColor= '#F2F2F2';
     document.getElementById('markerse2').style.color= '#333333';
};

function up2() {
        $('#myModal2').show();
        document.getElementById('markerse3').style.backgroundColor= '#AFD1F9';
        document.getElementById('markerse3').style.color= '#FFFFFF';
};
//팝업 Close 기능
function close_pop2(flag) {
     $('#myModal2').hide();
     document.getElementById('markerse3').style.backgroundColor= '#F2F2F2';
     document.getElementById('markerse3').style.color= '#333333';
};

</script>
<!--로컬-->
<!--<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=02733eb431496d9133c0f58496aa64fb&libraries=services,clusterer,drawing"></script>-->
<!--서버-->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=00cb19549df691541ac9bf9f0256e498&libraries=services,clusterer,drawing"></script>
<script src="https://code.jquery.com/jquery-latest.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<!--주소 검색 및 내위치-->
<!--영역 그리기-->
<script src="/js/map/map.js?Version=1"></script>
<!-- 비디오 및 이미지 업로드 -->
<script src="/js/file/file.js"></script>
<script src="/js/file/filesev.js"></script>
<script src="/js/marker/marker.js"></script>
<script src="/js/main/sev.js?Version=1"></script>
<script src="/js/main/servicezonelist.js"></script>

<!-- swal창 띄우기 -->

</body>
</html>
