<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>WATCHIGO</title>

    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/main/main.css">
    <link rel="stylesheet" href="css/nav/nav.css">
    <link rel="stylesheet" href="css/servicezone/main.css">
</head>
<body>
<div th:insert="common/navbar.html"></div>
    <div class="map_wrap">
        <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>
        <div id="menu_wrap" class="bg_white">
            <div class="option">
                <div>
                    <input class="srad" type="text" placeholder="아파트, 지역 및 학교명으로 검색 " value="" id="keyword" size="15" onkeyup="if(window.event.keyCode==13){sss()}">
                </div>

            <h1 class="t1">SERVICE ZONE LIST ────────────</h1>
            <div id="intable">
                <div class="option">
                    <div style="margin-bottom:20px;">
                        <select class="selserzone"
                                name="selectKey" id="selectKey">
                            <option selected="selected">전체</option>
                            <!--                        <option value="번호">번호</option>-->
                            <option value="이름">이름</option>
                            <option value="상태">상태</option>
                            <option value="주소">주소</option>
                        </select>

                        <input class="selserzonetxt" id="titleText" type="text" placeholder="검색어를 입력해주세요 " value="" onkeyup="enterkey()">
                    </div>
                </div>
                <div class="viewzonebox1">
                    <div class="zoneviewbox" th:if="${userlist}!=null" th:each="Co : ${userlist}">
                        <div class="realbox">
                            <img class="zonemainimg" th:src="'/file?fileName='+${Co.date}+'/'+${Co.img1}">
                        </div>
                        <div class="textviewbox">
                            <div th:if="${Co.state}== 등록중"
                                 th:text="${Co.state}"
                                 th:value="${Co.state}"
                                 class="zonetext">
                            </div>
                            <div th:if="${Co.state}== 승인대기"
                                 th:text="${Co.state}"
                                 th:value="${Co.state}"
                                 class="zonetext1">
                            </div>
                            <div th:if="${Co.state}== 출시"
                                 th:text="${Co.state}"
                                 th:value="${Co.state}"
                                 class="zonetext2">
                            </div>
                            <div th:if="${Co.zonename}!= null"
                                 th:text="${Co.zonename}"
                                 th:value="${Co.zonename}"
                                 class="zonenameview">
                            </div>
                            <div th:if="${Co.address}!= null"
                                 th:text="${Co.address}"
                                 th:value="${Co.address}"
                                 class="zoneaddview">
                            </div>
                            <div style="width:300px; margin:auto;">
                                <div th:onclick="|javascript:selectzone(${Co.pk})|"
                                     class="zoneview1">
                                    <img src="/img/servicezone/zoneview.png">
                                </div>
                                <div th:onclick="|javascript:selectzoneview(${Co.pk})|"
                                     class="zoneview2">
                                    <img src="/img/servicezone/textview.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="margin:auto; margin-top:8px;">
                    <button class="inserzone" onclick="inser()">+ 서비스존 등록</button>
                </div>
            </div>
        </div>
        </div>
    </div>
<div id="menu_wrap1" >
    <div class="backbtn">
        <img onclick="backbtn()" style="border-radius: 8px 0px 0px 8px; background:#e0e0e0; position: relative; top: 577.5px;"
             src="/img/servicezone/close.png">
    </div>
    <div id="uptable1" class="uptable1">
        <div id="viewzonename" class="viewzonename">
            <h1 id="zonetext" style="color: #1475E5;">
                304카페
            </h1>
        </div>
        <div id="viewzoneex" class="viewzoneex">
            <div id="zonetext1" class="textbox">
                만천하의 생의 천고에 새 하여도 열락의 듣기만 같은 그림자는 약동하다. 가치를 인생의 긴지라 뛰노는 곧 속에서 것이다. 따뜻한 대중을 원대하고, 있는 품었기 힘차게 천지는 봄바람이다. 보는 이 그러므로 것이 만천하의 봄바람이다. 두손을 온갖 무한한 사막이다. 뜨고, 하는 천지는 곳이 앞이 청춘 운다. 원질이 가지에 때에, 그들에게 그들의 품었기 찾아 놀이 이것이다. 충분히 전인 그러므로 보는 사막이다. 작고 가슴이 있는 위하여, 피고 이것이다. 자신과 새 그것은 무엇이 있으며, 것이다.생생하며, 이것은 뜨고, 방황하였으며, 힘있다. 전인 대한 주며, 꽃이 위하여서. 피에 싶이 대고, 예가 과실이 이것은 든 품에 천하를 있다. 청춘의 수 그것을 바로 청춘의 목숨을 있는가? 우는 그러므로 가지에 피어나기 그들의 현저하게 못할 우리의 칼이다. 무엇을 열매를 있을 곧 부패뿐이다하여서 피가 품으며, 것은 예수는 보이는 있으랴? 그들의 끝까지 대중을
                만천하의 생의 천고에 새 하여도 열락의 듣기만 같은 그림자는 약동하다. 가치를 인생의 긴지라 뛰노는 곧 속에서 것이다. 따뜻한 대중을 원대하고, 있는 품었기 힘차게 천지는 봄바람이다. 보는 이 그러므로 것이 만천하의 봄바람이다. 두손을 온갖 무한한 사막이다. 뜨고, 하는 천지는 곳이 앞이 청춘 운다. 원질이 가지에 때에, 그들에게 그들의 품었기 찾아 놀이 이것이다. 충분히 전인 그러므로 보는 사막이다. 작고 가슴이 있는 위하여, 피고 이것이다. 자신과 새 그것은 무엇이 있으며, 것이다.생생하며, 이것은 뜨고, 방황하였으며, 힘있다. 전인 대한 주며, 꽃이 위하여서. 피에 싶이 대고, 예가 과실이 이것은 든 품에 천하를 있다. 청춘의 수 그것을 바로 청춘의 목숨을 있는가? 우는 그러므로 가지에 피어나기 그들의 현저하게 못할 우리의 칼이다. 무엇을 열매를 있을 곧 부패뿐이다하여서 피가 품으며, 것은 예수는 보이는 있으랴? 그들의 끝까지 대중을
                만천하의 생의 천고에 새 하여도 열락의 듣기만 같은 그림자는 약동하다. 가치를 인생의 긴지라 뛰노는 곧 속에서 것이다. 따뜻한 대중을 원대하고, 있는 품었기 힘차게 천지는 봄바람이다. 보는 이 그러므로 것이 만천하의 봄바람이다. 두손을 온갖 무한한 사막이다. 뜨고, 하는 천지는 곳이 앞이 청춘 운다. 원질이 가지에 때에, 그들에게 그들의 품었기 찾아 놀이 이것이다. 충분히 전인 그러므로 보는 사막이다. 작고 가슴이 있는 위하여, 피고 이것이다. 자신과 새 그것은 무엇이 있으며, 것이다.생생하며, 이것은 뜨고, 방황하였으며, 힘있다. 전인 대한 주며, 꽃이 위하여서. 피에 싶이 대고, 예가 과실이 이것은 든 품에 천하를 있다. 청춘의 수 그것을 바로 청춘의 목숨을 있는가? 우는 그러므로 가지에 피어나기 그들의 현저하게 못할 우리의 칼이다. 무엇을 열매를 있을 곧 부패뿐이다하여서 피가 품으며, 것은 예수는 보이는 있으랴? 그들의 끝까지 대중을
                만천하의 생의 천고에 새 하여도 열락의 듣기만 같은 그림자는 약동하다. 가치를 인생의 긴지라 뛰노는 곧 속에서 것이다. 따뜻한 대중을 원대하고, 있는 품었기 힘차게 천지는 봄바람이다. 보는 이 그러므로 것이 만천하의 봄바람이다. 두손을 온갖 무한한 사막이다. 뜨고, 하는 천지는 곳이 앞이 청춘 운다. 원질이 가지에 때에, 그들에게 그들의 품었기 찾아 놀이 이것이다. 충분히 전인 그러므로 보는 사막이다. 작고 가슴이 있는 위하여, 피고 이것이다. 자신과 새 그것은 무엇이 있으며, 것이다.생생하며, 이것은 뜨고, 방황하였으며, 힘있다. 전인 대한 주며, 꽃이 위하여서. 피에 싶이 대고, 예가 과실이 이것은 든 품에 천하를 있다. 청춘의 수 그것을 바로 청춘의 목숨을 있는가? 우는 그러므로 가지에 피어나기 그들의 현저하게 못할 우리의 칼이다. 무엇을 열매를 있을 곧 부패뿐이다하여서 피가 품으며, 것은 예수는 보이는 있으랴? 그들의 끝까지 대중을

            </div>
        </div>
        <div id="viewzonevideo" class="viewzonevideo">
            <video id="viewvideo" class="viewvideo" src="/img/plus.mp4"></video>
        </div>
        <div id="viewzoneimg" class="viewzonevideo">
            <img id="viewimg" class="viewimg"  src="/img/plus.png">
        </div>
        <div>
            <span id="pknum" hidden></span>
            <p class="edit" style="display:none;">
                <button id="undo" class="disabled" onclick="undo()" disabled>UNDO</button>
                <button id="redo" class="disabled" onclick="redo()" disabled>REDO</button>
            </p>
        </div>
    </div>
</div>
<div id="zoombtn1" class="custom_zoomcontrol radius_border">
    <span onclick="zoomIn()"><img src="/img/servicezone/zoomin.png" alt="확대"></span>
</div>
<div id="zoombtn2" class="custom_zoomcontrol1 radius_border">
    <span onclick="zoomOut()"><img src="/img/servicezone/zoomout.png" alt="축소"></span>
</div>
<div id="zoombtn3" class="custom_zoomcontrol3 radius_border">
    <span onclick="zoomIn()"><img src="/img/servicezone/zoomin.png" alt="확대"></span>
</div>
<div id="zoombtn4" class="custom_zoomcontrol4 radius_border">
    <span onclick="zoomOut()"><img src="/img/servicezone/zoomout.png" alt="축소"></span>
</div>


<div id="load"> <img src="/img/spinner.gif" alt="loading"></div>

<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="pop_bt" style="font-size: 13pt;" onClick="close_pop();">X</span>
        <p style="text-align: center;"><span style="font-size: 14pt;"><b><span style="font-size: 35pt;">기본 마커</span></b></span></p>
        <div style="margin-bottom:30px;">
            <div class="basemarker">
                <img class="markerimg" src="/img/marker/location.png" onclick="semk1(this)">
            </div>
            <div class="basemarker">
                <img class="markerimg" src="/img/marker/m1.png" onclick="semk1(this)">
            </div>
            <div class="basemarker">
                <img class="markerimg" src="/img/marker/m2.png" onclick="semk1(this)">
            </div>
            <div class="basemarker">
                <img class="markerimg" src="/img/marker/m3.png" onclick="semk1(this)">
            </div>
            <div class="basemarker">
                <img class="markerimg" src="/img/marker/m4.png" onclick="semk1(this)">
            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
        </div>
        <p><br /></p>
    </div>
</div>
<div id="myModal1" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="pop_bt" style="font-size: 13pt;" onClick="close_pop1();">X</span>
        <p style="text-align: center;"><span style="font-size: 14pt;"><b><span style="font-size: 35pt;">인기 마커</span></b></span></p>
        <div style="margin-bottom:30px;">
            <div class="basemarker">
                <img class="markerimg" src="/img/marker/location.png" onclick="semk1(this)">
            </div>
            <div class="basemarker">
                <img class="markerimg" src="/img/marker/m1.png" onclick="semk1(this)">
            </div>
            <div class="basemarker">
                <img class="markerimg" src="/img/marker/m2.png" onclick="semk1(this)">
            </div>
            <div class="basemarker">
                <img class="markerimg" src="/img/marker/m3.png" onclick="semk1(this)">
            </div>
            <div class="basemarker">
                <img class="markerimg" src="/img/marker/m4.png" onclick="semk1(this)">
            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
        </div>
        <p><br /></p>
    </div>
</div>
<div id="myModal2" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="pop_bt" style="font-size: 13pt;" onClick="close_pop2();">X</span>
        <p style="text-align: center;"><span style="font-size: 14pt;"><b><span style="font-size: 35pt;">커스텀 마커</span></b></span></p>
        <div style="margin-bottom:30px;">
            <div class="basemarker">
                <img class="markerimg" src="/img/marker/location.png" onclick="semk1(this)">
            </div>
            <div class="basemarker">
                <img class="markerimg" src="/img/marker/m1.png" onclick="semk1(this)">
            </div>
            <div class="basemarker">
                <img class="markerimg" src="/img/marker/m2.png" onclick="semk1(this)">
            </div>
            <div class="basemarker">
                <img class="markerimg" src="/img/marker/m3.png" onclick="semk1(this)">
            </div>
            <div class="basemarker">
                <img class="markerimg" src="/img/marker/m4.png" onclick="semk1(this)">
            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
            <div class="basemarker">

            </div>
        </div>
        <p><br /></p>
    </div>
</div>

<script type="text/javascript">

function up() {
        $('#myModal').show();
};
//팝업 Close 기능
function close_pop(flag) {
     $('#myModal').hide();
};

function up1() {
        $('#myModal1').show();
};
//팝업 Close 기능
function close_pop1(flag) {
     $('#myModal1').hide();
};

function up2() {
        $('#myModal2').show();
};
//팝업 Close 기능
function close_pop2(flag) {
     $('#myModal2').hide();
};

</script>
<!--로컬-->
<!--<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=02733eb431496d9133c0f58496aa64fb&libraries=services,clusterer,drawing"></script>-->
<!--서버-->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=00cb19549df691541ac9bf9f0256e498&libraries=services,clusterer,drawing"></script>
<script src="https://code.jquery.com/jquery-latest.js"></script>
<!--주소 검색 및 내위치-->
<!--영역 그리기-->
<script src="/js/map/map.js"></script>
<!-- 비디오 및 이미지 업로드 -->
<script src="/js/file/file.js"></script>
<script src="/js/file/filesev.js"></script>
<script src="/js/marker/marker.js"></script>
<script src="/js/main/sev.js"></script>
<script src="/js/main/servicezonelist.js"></script>

<!--자동실행함수 서비스존 위치마커 표시 -->
<script type="text/javascript">
// 마커 클러스터러를 생성합니다
var clusterer = new kakao.maps.MarkerClusterer({
    map: map, // 마커들을 클러스터로 관리하고 표시할 지도 객체
    averageCenter: true, // 클러스터에 포함된 마커들의 평균 위치를 클러스터 마커 위치로 설정
    minLevel: 7 // 클러스터 할 최소 지도 레벨
});

var markers = [];

window.onload=function(){
// 마커를 담을 배열입니다
$.ajax({
        url  : "/view",
        type : "POST",
        success : function(result) {
        for(let i=0; i<result.plist.length; i++){
                let value = result.plist[i]
                let [point1,point2] = value.split(",");

                var imageSrc = result.mlist[i], // 마커이미지의 주소입니다
                    imageSize = new kakao.maps.Size(64, 69), // 마커이미지의 크기입니다
                    imageOption = {offset: new kakao.maps.Point(27, 69)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.


                var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption)
                var marker = new kakao.maps.Marker({
                    position: new kakao.maps.LatLng(point1, point2), // 마커의 좌표
                    map: map, // 마커를 표시할 지도 객체
                    image: markerImage
                });
                markers.push(marker);
        }
        clusterer.addMarkers(markers);
        },error:function(request,status,error){

        }
    })

}
</script>

<!-- swal창 띄우기 -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
</html>
