
html, body {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}
.map_wrap {
    position:relative;
    overflow:hidden;
    width:100%;
    height:350px;
}
.radius_border{
    border:1px solid #FFFFFF;
    border-radius:5px;
}
.custom_typecontrol {
    position:absolute;
    top:10px;
    right:10px;
    overflow:hidden;
    width:130px;
    height:30px;
    margin:0;
    padding:0;
    z-index:1;
    font-size:12px;
    font-family:'Malgun Gothic', '맑은 고딕', sans-serif;
}
.custom_typecontrol span {
    display:block;
    width:65px;
    height:30px;
    float:left;
    text-align:center;
    line-height:30px;
    cursor:pointer;
}
.custom_typecontrol .btn {
    background:#fff;
    background:linear-gradient(#fff,  #e6e6e6);
}
.custom_typecontrol .btn:hover {
    background:#f5f5f5;
    background:linear-gradient(#f5f5f5,#e3e3e3);
}
.custom_typecontrol .btn:active {
    background:#e6e6e6;
    background:linear-gradient(#e6e6e6, #fff);
}
.custom_typecontrol .selected_btn {
    color:#fff;background:#425470;
    background:linear-gradient(#425470, #5b6d8a);
}
.custom_typecontrol .selected_btn:hover {
    color:#fff;
}
.custom_zoomcontrol {
    position:absolute;
    top:90%;
    left:97%;
    width:48px;
    height:48px;
    overflow:hidden;
    z-index:3;
    background-color:#1C7FF3;
}

.custom_zoomcontrol1 {
    position:absolute;
    top:94%;
    left:97%;
    width:48px;
    height:48px;
    overflow:hidden;
    z-index:3;
    background-color:#1C7FF3;
}

.custom_zoomcontrol {
    cursor:pointer;
}

.custom_zoomcontrol1 {
    cursor:pointer;
}

.custom_zoomcontrol3 {
    cursor:pointer;
}

.custom_zoomcontrol4 {
    cursor:pointer;
}
.custom_zoomcontrol span {
    display:block;
    width:48px;
    height:48px;
    text-align:center;
    cursor:pointer;
}
.custom_zoomcontrol span img {
    width:45px;
    height:45px;
    padding:1.5px 1.5px 0;
    border:none;
}
.custom_zoomcontrol1 span img {
    width:45px;
    height:45px;
    padding:1.5px 1.5px 0;
    border:none;
}
.custom_zoomcontrol span:first-child{
    border-bottom:1px solid #bfbfbf;
}

.custom_zoomcontrol3 {
    position:absolute;
    top:90%;
    left:81%;
    width:48px;
    height:48px;
    overflow:hidden;
    z-index:3;
    background-color:#1C7FF3;
    display:none;
}

.custom_zoomcontrol4 {
    position:absolute;
    top:94%;
    left:81%;
    width:48px;
    height:48px;
    overflow:hidden;
    z-index:3;
    background-color:#1C7FF3;
    display:none;
}

.custom_zoomcontrol3 span img {
    width:45px;
    height:45px;
    padding:1.5px 1.5px 0;
    border:none;
}
.custom_zoomcontrol4 span img {
    width:45px;
    height:45px;
    padding:1.5px 1.5px 0;
    border:none;
}
.mygps{
    padding:0 0 0 0;
    position:absolute;
    top:30px;
    right:10px;
    z-index:2;
    width:38px;
    height:40px;
    background-color:#f5f5f5;
}
.mygps:hover{
cursor:pointer;
}
.material-icons{
    padding:6px 0;
}

.table1{
    width: 100%;
    border: 1px solid #444444;
    border-collapse: collapse;
}

.boxmas{
width:210px;
height:98px;
float:left;
border: 1px solid black;
background-color:white;
margin-left:20px;
text-align:center;
display: flex;
justify-content: center;
align-items: center;
font-size:20px;
}


.ser1{
width:100%;
}





.uploadimg:hover{
cursor:pointer;
}






.delete1{
position:absolute;
z-index:10;
width:100px;
height:50px;
text-align:center;
display:none;
justify-content: center;
align-items: center;
margin-top:60px;
margin-left:23.5px;
}

.delbtn1{
width:50px;
height:30px;
z-index:50;
}

.exbox{
width:85%;
height:100px;
border: 1px solid black;
background-color:white;
margin:auto;
}

.upbtn{
width:100%;
height:75px;
margin-top:15px;
}

.chmarker{
float:right;
width:63px;
height:63px;
margin-right: 30px;
background-color:gray;
font-size:16px;
text-align:center;
}

.mainicon{
width:63px;
height:63px;
background-color:gray;
text-align:center;
}

.armarker{
width:63px;
height:63px;
background-color:gray;
text-align:center;
}


.base:hover{
cursor:pointer;
font-weight:bold;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    overflow-y:auto;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 700px; /* Could be more or less, depending on screen size */
    height : 500px;;
    overflow-y:auto;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
}

.modal-content::-webkit-scrollbar {
width: 10px;
}

.modal-content::-webkit-scrollbar-thumb {
background-color: #F2F2F2;
border-radius: 10px;
}

.modal-content::-webkit-scrollbar-track {
background-color: #FFFFFF;
border-radius: 10px;
box-shadow: inset 0px 0px 5px white;
}



.pop_bt{
pointer:absolute;
float:right;
}
.pop_bt:hover{
cursor:pointer;
}
.text111:hover{
font-weight:bold;
cursor:pointer;
}
#load {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
    opacity: 0.8;
    background: white;
    z-index: 99;
    text-align: center;
}

#load > img {
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 100;
}


.map_wrap, .map_wrap * {padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;}
.map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
.map_wrap {position:relative;width:100%;height:100%;}
#menu_wrap {position:absolute;border-radius: 8px 0px 0px 8px;top:0;left:0;bottom:0;width:480px; height:100%; margin-left:90px;background:#FFFFFF;z-index: 1;}
.bg_white {background:#fff;}
#menu_wrap hr {display: block; height: 1px;border: 0; margin:3px 0;}
#menu_wrap .option{text-align: center;}
#menu_wrap .option p {margin:10px 0;}
#menu_wrap .option button {margin-left:5px;}
#placesList li {list-style: none;}
#placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
#placesList .item span {display: block;margin-top:4px;}
#placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#placesList .item .info{padding:10px 0 10px 55px;}
#placesList .info .gray {color:#8a8a8a;}
#placesList .info .jibun {padding-left:26px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
#placesList .info .tel {color:#009900;}
#placesList .item .markerbg {float:left;position:absolute;width:36px; height:37px;margin:10px 0 0 10px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;}
#placesList .item .marker_1 {background-position: 0 -10px;}
#placesList .item .marker_2 {background-position: 0 -56px;}
#placesList .item .marker_3 {background-position: 0 -102px}
#placesList .item .marker_4 {background-position: 0 -148px;}
#placesList .item .marker_5 {background-position: 0 -194px;}
#placesList .item .marker_6 {background-position: 0 -240px;}
#placesList .item .marker_7 {background-position: 0 -286px;}
#placesList .item .marker_8 {background-position: 0 -332px;}
#placesList .item .marker_9 {background-position: 0 -378px;}
#placesList .item .marker_10 {background-position: 0 -423px;}
#placesList .item .marker_11 {background-position: 0 -470px;}
#placesList .item .marker_12 {background-position: 0 -516px;}
#placesList .item .marker_13 {background-position: 0 -562px;}
#placesList .item .marker_14 {background-position: 0 -608px;}
#placesList .item .marker_15 {background-position: 0 -654px;}
#pagination {margin:10px auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px;}
#pagination .on {font-weight: bold; cursor: default;color:#777;}

#menu_wrap hr {display: none; height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
#menu_wrap .option{text-align: center;}
#menu_wrap .option p {margin:10px 0;}
#menu_wrap .option button {margin-left:5px;}


.choicebtn:hover{
cursor:pointer;
}

.test_obj input[type="checkbox"] {
        display: none;
    }

    .test_obj input[type="checkbox"] + span {
        display: inline-block;
        padding: 15px 10px;
        border: 1px solid #dfdfdf;
        background-color: #ffffff;
        text-align: center;
        cursor: pointer;
    }

    .test_obj input[type="checkbox"]:checked + span {
        background-color: #113a6b;
        color: #ffffff;
    }