.inbox1{
width:205px;
height:65px;
border-radius:6px;
font-style: normal;
font-weight: bold;
font-size: 20px;
padding-left:20px;
}

.inbox2{
width:460px;
height:65px;
border-radius:6px;
font-style: normal;
font-weight: bold;
font-size: 20px;
padding-left:20px;
}

.inbox3{
width:205px;
height:65px;
border-radius:6px;
font-style: normal;
font-weight: bold;
font-size: 20px;
background:rgba(250,203,14,1);
}

.inbox4{
width:205px;
height:65px;
border-radius:6px;
font-style: normal;
font-weight: bold;
font-size: 20px;
background:black;
color:blue;
}


.inbox3:hover{
cursor:pointer;
}
